// =============================================
// Breadcrumb
// =============================================

.breadcrumb {
	padding-bottom: $spacing-xs;

	ul {
		@extend %list-inline;
		@include ellipsis();
		font-size: $font-size-sm;
		margin-bottom: 0;

		> li {
			display: inline;
			padding-right: $spacing-xs;
			padding-left: 0;
		}

		a:after {
			margin-left: $spacing-xs;
			@include triangle(right, 4px, $black);
		}

	}
}


// =============================================
// Responsive
// =============================================

@include breakpoint($screen-sm) {
	.breadcrumb ul {
		> li {
			padding-right: $spacing-sm;
		}

		a:after {
			margin-left: $spacing-sm;
		}
	}
}

@include breakpoint($screen-md) {
	.breadcrumb {
		padding-top: $spacing-xs;
	}
}
