// =============================================
// Confidence
// =============================================

.confidence__list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.confidence__item {
	list-style: none;
	width: 100%;
	display: none;
	text-align: center;

	&:first-child {
		display: block;
	}
}

@include breakpoint($screen-sm) {
	.confidence__item {
		display: block;
		width: 48%;

		&:last-child {
			display: none;
		}
	}
}

@include breakpoint($screen-md) {
	.confidence__item {
		width: 32%;

		&:last-child {
			display: block;
		}
	}
}
