// =============================================
// Navs Reset Lists
// =============================================


.nav--primary ul,
.nav--primary ol,
.nav--secondary ul,
.nav--secondary ol,
.nav--stack ul,
.nav--stack ol {
	@extend %list-unstyled;
}


// =============================================
// Nav Stacked
// =============================================

.nav--stack {
    a {
        display: block;
        padding: 0.75em 2em;
        border-bottom: 1px solid #ddd;
        &:hover {
            background-color: #efefef;
        }
        
    }
}


// =============================================
// Navs Shared Styles
// =============================================

.nav--primary > ul,
.nav--primary > ol,
.nav--secondary > ul,
.nav--secondary > ol {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    
    > li {
        display: inline-block;
        
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        
        a {
            display: block;
            padding: $spacing-sm;
        }
    }
}


// =============================================
// Nav Primary
// =============================================

.nav--primary {
	> ul,
    > ol {
		text-align: center;

		> li {
			@include breakpoint($screen-lg) {
				margin-left: $spacing-xs;
				margin-right: $spacing-xs;
			}

			> a {
				position: relative;
		   	}

			/* Active state */
			&.active a:before {
				@include arrow(up, 8px, $black);
				position: absolute;
				bottom: -0.9rem;
				left: 50%;
				margin-left: -12px;
			}
		}
	}

}

@include breakpoint($screen-md) {
	.nav--primary {
		> ul,
        > ol {
			text-align: left;
		}
	}
}



// =============================================
// Nav Multi Level
// =============================================

.nav--multi-level {
    
    li {
        position: relative;
    }
    
    // Stack the navs
    ul ul,
    ul ol,
    ol ul,
    ol ol {
        @extend .nav--stack;
    }
    
    // All levels
    ul {
        display: none;
        position: absolute;
        background-color: $grey-lighter;
    }
    
    // Just Level 0
    > ul {
        top: 100%;
    }
    ul ul {
        top: 0;
        left: 100%;
    }
    
    li:hover > ul,
    li:hover > ol {
        display: block;
    }
}
