// =============================================
// Player
// =============================================

.player {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	> div {
		padding-left: 1%;
		padding-right: 1%;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

@include breakpoint($screen-md) {
	.player > div {
		padding-left: 0.5%;
		padding-right: 0.5%;
	}
}


// =============================================
// Player Show and hide
// =============================================

.player__wave,
.player__volume,
.player__price,
.player__buttons {
	display: none;
}

@include breakpoint($screen-sm) {
	.player__price {
		display: block;
	}
}

@include breakpoint($screen-md) {
	.player__volume,
	.player__price,
	.player__buttons {
		display: block;
	}
	.player__toggle {
		display: none;
	}
}

@include breakpoint($screen-lg) {
	.player__wave {
		display: block;
	}
}


// =============================================
// Player bump heights
// =============================================

.player .container > div,
.player li,
.player__artwork img,
.player__wave img,
.player__volume img {
	height: $player-sm;
}

.player__title,
.player__price {
	line-height: $player-sm;
}

@include breakpoint($screen-md) {
	.player .container > div,
	.player li,
	.player__artwork img,
	.player__wave img,
	.player__volume img {
		height: $player-md;
	}

	.player__title,
	.player__price {
		line-height: $player-md;
	}
}


// =============================================
// Player general styles
// =============================================

.player {
	ul {
		@extend %list-unstyled;
		display: table;
	}

	li {
		display: table-cell;
		vertical-align: middle;
	}

	p {
		margin: 0;
	}

	a:not(.btn) {
		color: $white;

		&:hover {
			color: $blue;
		}
	}
}


// =============================================
// Player info
// =============================================

.player__info {
	width: 50%;
	padding-right: 5%;

	p:first-child {
		float: left;
		padding-right: 5%;
	}
}

.player__artwork img {
	border: 1px solid $white;
	border-radius: 2px;
}

.player__title {
	@include ellipsis();
	color: $white;
	font-weight: $bold;
}

@include breakpoint($screen-sm) {
	.player__info {
		width: 47%;
	}
}

@include breakpoint($screen-md) {
	.player__info {
		width: 22%;
	}
}

@include breakpoint($screen-xl) {
	.player__info {
		width: 24%;
	}
}


// =============================================
// Player wave
// =============================================

.player__wave {
	width: 18%;

	img {
		width: 100%;
	}
}


// =============================================
// Player volume
// =============================================

.player__volume {
	width: 18%;

	img {
		width: 100%;
	}
}


// =============================================
// Player controls
// =============================================

.player__controls {
	li {
		padding-left: $spacing-xs;
		padding-right: $spacing-xs;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-left: $spacing-xxs;
			padding-right: 0;
		}
	}
	a:hover img {
		opacity: 0.7;
	}
}


// =============================================
// Player price
// =============================================

.player__price {
	p {
		font-size: $font-size-lg;
		font-weight: $bold;
		color: $white;

		span {
			font-weight: 400;
			font-size: $font-size-xs;
		}
	}
}

@include breakpoint($screen-lg) {
	.player__price p {
		font-size: $font-size-xl;

		span {
			vertical-align: super;
			font-size: $font-size-xxs;
			line-height: 1;
		}
	}
}


// =============================================
// Player buttons
// =============================================

.player__buttons {
	li {
		padding-left: $spacing-sm;
		padding-right: $spacing-sm;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
	a:hover img {
		opacity: 0.7;
	}
}


// =============================================
// Player toggle
// =============================================

.player__toggle {
	padding-left: 6%;
	padding-top: calc(#{$player-sm} / 4);

	p {
		text-align: right;
		font-size: $font-size-xs;
		text-transform: uppercase;
		font-weight: $bold;
		vertical-align: middle;
	}

	a {
		display: block;
		position: relative;
	}

	span {
		display: block;
		border: 4px solid $black;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
		padding: 0.3rem;
		position: absolute;
		bottom: 80%;
		left: 50%;
		background-color: $black;
		margin-left: -15px;
	}

	img {
		height: 12px;
		width: 12px;
	}
}
