// =============================================
// Search
// =============================================

.search {
	padding-top: $spacing-sm;
	padding-bottom: $spacing-sm;
	position: relative;
	
	.container {
		position: relative;
	}
		
	label {
		display: none;
	}
	
	form {
		width: 100%;
	    display: table;
	}
	
	.form-group {
    	display: table-cell;
		
		&:last-child {
			width: 1px;
		}
	}
	
	input {
		border-color: $grey;
	}
	
	button {
		padding-left: $spacing-sm;
		padding-right: $spacing-sm;
		margin-left: $spacing-sm;
	}
}

@include breakpoint($screen-md) {
	.search {
		display: none;
	}
}


// =============================================
// Search invert
// =============================================

.search--invert {
	float: right;
	width: 50%;
	max-width: 30em;
	padding-right: 12%;
	padding-top: $spacing-sm * 1.2;
	
	button {
		margin-left: 1px;
	}
	
	input {
		border-color: $white;
	}
}

@include breakpoint($screen-lg) {
	.search--invert {
		width: 30%;
		padding-right: 6%;
	}
}

@include breakpoint($screen-xl) {
	.search--invert {
		width: 36%;
		padding-right: 6%;
	}
}