// =============================================
// Tabs
// =============================================

.tabs {
    display: flex;
    flex-wrap: wrap;

    &__header {
        order: 1;
    }

    &__body {
        order: 2;
        width: 100%;
        display: none;
    }
}

.is-active.tabs__body {
    display: block;
}
