// =============================================
// Widget title
// =============================================

.widget__title {
	user-select: none;
	margin-top: $spacing;
	
	span {
		border: 1px solid $black;
		display: inline-block;
		padding: $spacing-xxs $spacing-sm;
		position: relative;
		background-color: $white;
	
		&:after {
			content: "";
			position: absolute;
			right: -34px;
			top: 50%;
			margin-top: -12px;
			height: 25px;
			width: 25px;
			background: url(../images/plus.gif) no-repeat center center;
		}
	}
	
	&:hover span {
		background: $grey-light;
	}
}

.active > .widget__title {
	span {
		color: $white;
		background-color: $black;
	
		&:after {
			background-image: url(../images/minus.gif);
		}
	
		&:before {
			content: "";
			position: absolute;
			top: $spacing-xs - 0.15rem;
			margin-left: -($spacing-sm + 0.25rem);
			z-index: -1;
			height: 100%;
			width: 2rem;
			background-color: $yellow;
		}
	}
	
	&:hover span {
		background: $grey-dark;
	}
}


// =============================================
// Widget Content
// =============================================

.widget__content {
	background: $grey url(../images/dots.png);
	position: relative;
	padding: $spacing-lg $spacing-xl;
	margin-bottom: $spacing-lg;
	
	&:after {
		content: "";
		position: absolute;
		top: $spacing-sm;
		left: $spacing-sm;
		right: $spacing-sm;
		bottom: $spacing-sm;
		background-color: $white;
		z-index: 0;
	}
	
	* {
		position: relative;
		z-index: 1;
	}
	
	ul {
		@extend %list-unstyled;
	}
}

// =============================================
// Widget Open Desktop
// =============================================

@include breakpoint($screen-md) {
	.widget--open {
		> .widget__title {
			cursor: auto;
			
			span {
				color: $black;
				background-color: $white;
				cursor: auto;
			
				&:after {
					display: none;
				}
			
				&:before {
					display: none;
				}
			}
	
			&:hover span {
				background: $white;
			}
		}
		.widget__content {
			display: block !important;
		}
	}
}