// =============================================
// Widget title
// =============================================

.widget__title {
	user-select: none;
	margin-top: $spacing;

	span {
		border: 1px solid $black;
		display: inline-block;
		padding: $spacing-xxs $spacing-sm;
		position: relative;
		background-color: $white;

		&:after {
			content: "";
			position: absolute;
			right: -34px;
			top: 50%;
			margin-top: -12px;
			height: 25px;
			width: 25px;
			background: url(../images/plus.gif) no-repeat center center;
		}
	}

	&:hover span {
		background: $grey-light;
	}
}

.active > .widget__title {
	position: relative;
	z-index: 2;

	span {
		color: $white;
		background-color: $black;

		&:after {
			background-image: url(../images/minus.gif);
		}

		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: $spacing-xs - 0.15rem;
			margin-left: -($spacing-sm + 0.25rem);
			height: 100%;
			width: 2rem;
			background-color: $yellow;
		}
	}

	&:hover span {
		background: $grey-dark;
	}
}


// =============================================
// Widget Content
// =============================================

.widget__content {
	background: $grey url(../images/dots.png);
	position: relative;
	padding: $spacing-lg $spacing-xl;
	margin-bottom: $spacing-xl;

	&:after {
		content: "";
		position: absolute;
		z-index: 0;
		top: $spacing-sm;
		left: $spacing-sm;
		right: $spacing-sm;
		bottom: $spacing-sm;
		background-color: $white;
	}

	* {
		position: relative;
		z-index: 1;
	}

	ul {
		@extend %list-unstyled;

		li {
			margin-bottom: $spacing-xxs;
		}
	}
}

@include breakpoint($screen-lg) {
	.widget__content ul {
		font-size: $font-size-sm;
	}
}


// =============================================
// Widget Open Desktop
// =============================================

@include breakpoint($screen-md) {
	.widget--open {
		> .widget__title {
			cursor: auto;

			span {
				color: $black;
				background-color: $white;
				cursor: auto;

				&:after {
					display: none;
				}

				&:before {
					display: none;
				}
			}

			&:hover span {
				background: $white;
			}
		}
		.widget__content {
			display: block !important;
		}
	}
}


// =============================================
// Widget Filter
// =============================================

.widget--filter .widget__content a {
	position: relative;
	display: inline-block;
	padding-left: calc(12px + #{$spacing-xs});

	&:before {
		content: "";
		display: block;
		height: 12px;
		width: 12px;
		background-color: $grey-light;
		position: absolute;
		left: 0;
		top: 3px;
	}

	&:hover:before,
	&.active:before {
		background-color: $blue;
	}
}


// =============================================
// Widget Scroll
// =============================================

.widget--scroll .widget__content ul {
	max-height: 19.5em;
	overflow-y: auto;
}


// =============================================
// Widget Scroll
// =============================================

.modal .widget .widget__content ul {
	max-height: none;
	overflow-y: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		width: 50%;
	}
}
