// =============================================
// Grid
// =============================================

@mixin grid() {
    display: flex;
    flex-wrap: wrap;

    > * {
        @include grid-up;
    }
}


// =============================================
// Grid gutter
// =============================================

@mixin grid-gutter($gap: $gutter) {
    $half-gutter: $gap / 2;
    margin-left: -$half-gutter;
    margin-right: -$half-gutter;

    > * {
        padding-left: $half-gutter;
        padding-right: $half-gutter;
    }
}


// =============================================
// Grid Up
// =============================================

@mixin grid-up($cols: 1) {
    width: 100% / $cols;
}


// =============================================
// Grid Center
// =============================================

@mixin grid-center() {
    justify-content: center;
}
