// =============================================
// Alert
// =============================================

.alert {
    padding: $spacing;
    background-color: lighten(color(grey), 30%);
    border: 1px solid color(grey);
    margin-bottom: $spacing;

    p {
        margin: 0;
    }
}


// =============================================
// Dismissible alert
// =============================================

.alert--dismissible {
    padding-right: 3rem;
    position: relative;

    .close {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 3rem;
        text-decoration: none;
        display: block;
        text-align: center;
        text-indent: -9999%;

        &:after {
            content: "x";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            text-indent: 0;
            transform: translate(-50%, -50%);
        }
    }

    &.is-inactive {
        display: none;
    }
}


// =============================================
// Alert colour variations
// =============================================

.alert--success {
    background-color: lighten(green, 70%);
    border-color: green;
}

.alert--error {
    background-color: lighten(red, 40%);
    border-color: red;
}
