// =============================================
// Pagination
// =============================================

.breadcrumb {
    ul {
        @extend %u-list-inline;
    }
	li:not(:last-child) {
		display: inline-block;
		margin-right: $spacing-sm;

		&:after {
			content: ">";
		}
	}
	a {
		display: inline-block;
		margin-right: $spacing-sm;
	}
}
