// =============================================
// Form field group
// =============================================

.field-group,
%field-group {
    margin: spacing() 0;

    .field-group {
        margin-top: spacing(xs);
        margin-bottom: spacing(xs);
    }

    &:first-child {
        margin-top: 0;
    }
}


// =============================================
// Form field group scaffold
// =============================================

@include breakpoint(screen(sm)) {
    .field-group--scaffold,
    %field-group--scaffold {
        display: flex;
        flex-flow: wrap;

        .field-group__label {
            width: 25%;
            max-width: 16em;
        }

        .field-group__field {
            flex-grow: 1;
        }

        .field-group__field + * {
            width: 100%;
        }
    }
}


// =============================================
// scaffold form
// =============================================

.scaffold-form .field-group:not(.field-group--inline) {
    @extend %field-group--scaffold;
}


// =============================================
// Inline field group
// =============================================

.field-group--inline {
    display: flex;
    justify-content: flex-start;

    > * {
        margin-right: spacing(sm);
        width: auto;
        max-width: none;
        flex-grow: initial;
    }
}
