// =============================================
// Molecule - Inline form
// =============================================

.inline-form {
    display: flex;
    
    > *:first-child {
        flex-shrink: 1;
        flex-grow: 1;
    }
    
    > *:last-child {
        flex-shrink: 0;
    }
}
