// =============================================
// Base Nav
// =============================================

%nav,
.nav {
    @include nav;
}


// =============================================
// Nav Pills
// =============================================

.nav--pills,
%nav--pills {
    @include nav--pills;
}


// =============================================
// Nav inline
// =============================================

.nav--inline,
%nav--inline {
    @include nav--inline;
}


// =============================================
// Nav space
// =============================================

.nav--space,
%nav--space {
    @include nav--space;
}


// =============================================
// Priority Nav
// =============================================

.priority-nav {
    @include priority-nav;
}


// =============================================
// Nav Multi Level
// =============================================

.nav--multi-level {
    @include nav--multi-level;
}


// =============================================
// Nav Pager
// =============================================

.nav--pager,
%nav--pager {
    @include nav--pager;
}


// =============================================
// Nav table
// =============================================

.nav--table {
    @include nav--table;
}


// =============================================
// Nav Check List
// =============================================

.nav--check {
    @extend .nav--pills;
    
    a {
        position: relative;
        padding-left: $spacing-xl !important;
        
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
        }
        
        &:before {
            z-index: $z-0;
            left: 0;
            top: 7px;
            width: 16px;
            height: 16px;
            background-color: $white;
            border: 2px solid $grey;
            border-radius: 4px;
        }
        
        &:after {
            z-index: $z-1;
            left: 5px;
            top: 12px;
            width: 10px;
            height: 10px;
            background-color: $grey;
            display: none;
            border-radius: 2px;
        }
        
        &:hover,
        &.is-active{
            color: $darker-grey;
            &:after {
                display: block;
            }
        }
    }
}