// =============================================
// Base Nav
// =============================================

%nav,
.nav {
    @extend %u-list-unstyled;

    a {
        text-decoration: none;
    }
}


// =============================================
// Nav Pills
// =============================================

.nav--pills a {
    display: block;
    padding: $spacing-xs $spacing-sm;
}


// =============================================
// Nav inline
// =============================================

.nav--inline {
    display: flex;
    flex-wrap: wrap;
}


// =============================================
// Nav space
// =============================================

.nav--space {
    &:not(.nav--inline) .nav__item {
        margin-top: $spacing-xs;
        margin-bottom: $spacing-xs;
    }
    
    &.nav--inline .nav__item {
        margin-left: $spacing-xs;
        margin-right: $spacing-xs;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}


// =============================================
// Priority Nav
// =============================================

.priority-nav {
    display: flex;
    overflow: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    &__container {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    &__toggle {
        flex-shrink: 0;
    }

    &__sub {
        padding: $spacing;  
        display: none;
        &.is-active {
            display: block;
        }
    }

    .nav {
        flex-wrap: nowrap;
    }
}


// =============================================
// Nav Multi Level
// =============================================

.nav--multi-level {
    li {
        position: relative;
    }

    // All levels
    ul,
    ol {
        @extend %nav;
        display: none;
        position: absolute;
    }

    // Just Level 0
    > ul,
    > ol {
        top: 100%;
    }

    ul ul,
    ol ol,
    ul ol,
    ol ul {
        top: 0;
        left: 100%;
    }

    li:hover > ul,
    li:hover > ol {
        display: block;
    }

    a {
        white-space: nowrap;
    }
}


// =============================================
// Nav Check List
// =============================================

.nav--check {
    @extend .nav--pills;
    
    a {
        position: relative;
        padding-left: $spacing-xl !important;
        
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
        }
        
        &:before {
            z-index: $z-0;
            left: 0;
            top: 7px;
            width: 16px;
            height: 16px;
            background-color: $white;
            border: 2px solid $grey;
            border-radius: 4px;
        }
        
        &:after {
            z-index: $z-1;
            left: 5px;
            top: 12px;
            width: 10px;
            height: 10px;
            background-color: $grey;
            display: none;
            border-radius: 2px;
        }
        
        &:hover,
        &.is-active{
            color: $darker-grey;
            &:after {
                display: block;
            }
        }
    }
}