// =============================================
// Pagination
// =============================================

.pagination {
    ul {
        @extend %list-unstyled;
        display: inline-block;
        padding-right: $spacing-sm;

        li {
            display: inline-block;
        }
    }

    a {
        display: inline-block;
        padding: $spacing-xs $spacing-sm;
        background-color: black;
        color: #fff;

        &:hover {
            background-color: $grey;
        }

        &.active {
            background-color: blue;
            color: black;
        }
    }

    p {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        color: black;
    }
}

@include breakpoint($screen-md) {
    .pagination a {
        font-size: $font-size-sm;
        padding: 0.1rem 0.5rem;
    }
}
