// =============================================
// Product Pricing
// =============================================

.price-box > * {
    display: block;
    line-height: 1;
}

.old-price,
.saving-price {
    font-size: $font-size-xs;
}

.regular-price {
    .price-label {
        @extend %u-visually-hidden;
    }
    .price {
        @extend %base-heading;
        font-size: $font-size-h3;
    }
}

.old-price {
    color: $grey;
    .price {
        text-decoration: line-through;
    }
}

.saving-price {
    color: red;
}