// =============================================
// Qty Actions
// =============================================

.qty-actions {
    white-space: nowrap;
    min-width: 9.5em;

    &__scale {

        > * {
            display: inline-block;
            vertical-align: middle;
        }

    }

    .btn {
        border-radius: $border-radius;
    }

    input {
        text-align: center;
    }
}

/* Shapes, needs to move */
.btn--plus .shape {
    @include plus($white, 16px, 2px);
}
.btn--minus .shape {
    @include minus($white, 16px, 2px);
}
