// =============================================
// Qty Actions
// =============================================

.qty-actions {
    white-space: nowrap;
    min-width: 9.5em;
    
    &__scale {
        
        > * {
            display: inline-block;
            vertical-align: middle;
        }
        .btn {
            @extend %btn;
            @extend %btn--sm;
            padding-top: 0.4rem;
            padding-bottom: 0.3rem;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            border-radius: $border-radius;
        }
    }
    
    &__qty {
        max-width: $spacing * 4.5;
        
        input {
            text-align: center;
        }
    }
    
    &__label {
        font-size: $font-size-sm;
        margin-bottom: $spacing-sm;
    }
}

/* Shapes, needs to move */
.btn--plus .shape {
    @include plus($white, 16px, 2px);
}
.btn--minus .shape {
    @include minus($white, 16px, 2px);
}

.btn__text {
    @extend %u-visually-hidden;
}