// =============================================
// Qty Actions
// =============================================

.quantity input {
    min-width: 4em;
    max-width: 6em;
}

.quantity__amount {
    display: flex;
}
