// =============================================
// Layout
// =============================================

.l-two-col-left,
.l-two-col-right,
.l-three-col {
	@include layout;
	@include layout-gutter;

	> * {
		@include layout-col;
	}
}


// =============================================
// Left and right hand side
// =============================================

@include breakpoint($screen-sm) {
	.l-two-col-left,
	.l-two-col-right {
		.l-side {
			@include layout-col(25%);
		}
		.l-body {
			@include layout-col(75%);
		}
	}
}


// =============================================
// Right column
// =============================================

@include breakpoint($screen-sm) {
	.l-two-col-right {
		@include layout-reserve;
	}
}


// =============================================
// Three column
// =============================================

@include breakpoint($screen-sm) {
	.l-three-col {
		.l-side {
			@include layout-col(20%);
			order: 1;
		}
		.l-body {
			@include layout-col(60%);
			order: 2;
		}
		.l-side--right {
			order: 3;
		}
	}
}
