// =============================================
// Text alignment
// =============================================

.u-text-center {
    text-align: center !important;
}

.u-text-left {
    text-align: left !important;
}

.u-text-right {
    text-align: right !important;
}


// =============================================
// Center alignment
// =============================================

.u-center {
    margin-left: auto !important;
    margin-right: auto !important;
}


// =============================================
// Float alignment
// =============================================

.u-pull-left {
    float: left !important;
}

.u-pull-right {
    float: right !important;
}
