/**
 * Spin
 *
 * @since 3.0.0
 */

.u-spin,
%u-spin {
    animation: spin 0.3s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}