/**
 * Block Utility
 *
 * Gives an element padding based on the `$spacing` array set in _var.scss
 * Useful on `.card` elements in particular.
 *
 * @var $spacing
 *
 * @since 1.2.0
 */

[class*="u-block"],
%u-block-base {
    display: block;
    
    > *:last-child {
        margin-bottom: 0;
    }
}


@each $key, $value in $spacing {
    @if $key == base {
        .u-block,
        %u-block {
            padding: $value !important;
            
            &-top {
                padding-top: $value !important;
            }
            &-bottom {
                padding-bottom: $value !important;
            }
        }
        %u-block {
            &,
            &-top,
            &-bottom {
                @extend %u-block-base;
            }
        }
    } @else {
        .u-block-#{$key},
        %u-block-#{$key} {
            padding: $value !important;

            &-top {
                padding-top: $value !important;
            }
            &-bottom {
                padding-bottom: $value !important;
            }
        }
        %u-block-#{$key} {
            &,
            &-top,
            &-bottom {
                @extend %u-block-base;
            }
        }
    }
}