/**
 * Block Utility
 *
 * Gives an element padding based on the `$spacing` array set in _var.scss
 * Useful on `.card` elements in particular.
 *
 * @var $spacing
 * 
 * @since 1.2.0
 */

[class*="u-block"] {
    display: block;
}

[class*="u-block"] > *:last-child {
    margin-bottom: 0;
}

@each $key, $value in $spacing {
    @if $key == base {
        .u-block {
            padding: $value;
        }
    } @else {
        .u-block-#{$key} {
            padding: $value;
        }
    }
}
