// =============================================
// Block
// =============================================

[class*="u-block"] > *:last-child {
    margin-bottom: 0;
}

@each $key, $value in $spacing {
    @if $key == base {
        .u-block,
        %u-block {
            padding: $value;
        }
    } @else {
        .u-block-#{$key},
        %u-block-#{$key} {
            padding: $value;
        }
    }
}