// =============================================
// Clearfix
// =============================================

.u-clearfix {
    overflow: hidden;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
