// =============================================
// Grey Fill
// =============================================

.u-fill-grey {
    background-color: $grey;
}
.u-fill-dark-grey {
    background-color: $dark-grey;
}
.u-fill-darker-grey {
    background-color: $darker-grey;
}
.u-fill-light-grey {
    background-color: $light-grey;
}
.u-fill-lighter-grey {
    background-color: $lighter-grey;
}
.u-fill-white {
    background-color: $white;
}
.u-fill-black {
    background-color: $black;
}


// =============================================
// Social Media Fill
// =============================================

.u-fill-twitter {
    background-color: $twitter;
}
.u-fill-facebook {
    background-color: $facebook;
}
.u-fill-google {
    background-color: $google;
}
.u-fill-pinterest {
    background-color: $pinterest;
}
.u-fill-instagram {
    background-color: $instagram;
}
.u-fill-vimeo {
    background-color: $vimeo;
}
.u-fill-linkedin {
    background-color: $linkedin;
}
.u-fill-youtube {
    background-color: $youtube;
}


// =============================================
// Grey Text
// =============================================

.u-text-grey {
    color: $grey;
}
.u-text-dark-grey {
    color: $dark-grey;
}
.u-text-darker-grey {
    color: $darker-grey;
}
.u-text-light-grey {
    color: $light-grey;
}
.u-text-lighter-grey {
    color: $lighter-grey;
}
.u-text-white {
    color: $white;
}
.u-text-black {
    color: $black;
}


// =============================================
// Social Media Text
// =============================================

.u-text-twitter {
    color: $twitter;
}
.u-text-facebook {
    color: $facebook;
}
.u-text-google {
    color: $google;
}
.u-text-pinterest {
    color: $pinterest;
}
.u-text-instagram {
    color: $instagram;
}
.u-text-vimeo {
    color: $vimeo;
}
.u-text-linkedin {
    color: $linkedin;
}
.u-text-youtube {
    color: $youtube;
}
