// =============================================
// Grey Fill
// =============================================

.u-fill-grey {
    background-color: $grey !important;
}
.u-fill-dark-grey {
    background-color: $dark-grey !important;
}
.u-fill-darker-grey {
    background-color: $darker-grey !important;
}
.u-fill-light-grey {
    background-color: $light-grey !important;
}
.u-fill-lighter-grey {
    background-color: $lighter-grey !important;
}
.u-fill-white {
    background-color: $white !important;
}
.u-fill-black {
    background-color: $black !important;
}


// =============================================
// Social Media Fill
// =============================================

.u-fill-twitter {
    background-color: $twitter !important;
}
.u-fill-facebook {
    background-color: $facebook !important;
}
.u-fill-google {
    background-color: $google !important;
}
.u-fill-pinterest {
    background-color: $pinterest !important;
}
.u-fill-instagram {
    background-color: $instagram !important;
}
.u-fill-vimeo {
    background-color: $vimeo !important;
}
.u-fill-linkedin {
    background-color: $linkedin !important;
}
.u-fill-youtube {
    background-color: $youtube !important;
}


// =============================================
// Grey Text
// =============================================

.u-text-grey {
    color: $grey !important;
}
.u-text-dark-grey {
    color: $dark-grey !important;
}
.u-text-darker-grey {
    color: $darker-grey !important;
}
.u-text-light-grey {
    color: $light-grey !important;
}
.u-text-lighter-grey {
    color: $lighter-grey !important;
}
.u-text-white {
    color: $white !important;
}
.u-text-black {
    color: $black !important;
}


// =============================================
// Social Media Text
// =============================================

.u-text-twitter {
    color: $twitter !important;
}
.u-text-facebook {
    color: $facebook !important;
}
.u-text-google {
    color: $google !important;
}
.u-text-pinterest {
    color: $pinterest !important;
}
.u-text-instagram {
    color: $instagram !important;
}
.u-text-vimeo {
    color: $vimeo !important;
}
.u-text-linkedin {
    color: $linkedin !important;
}
.u-text-youtube {
    color: $youtube !important;
}
