/**
 * Color (Background)
 */

@each $color-key, $color-value in $colors {
    @each $tone-key, $tone-value in $color-value {
        @if $tone-key == base {
            .u-fill-#{$color-key},
            %u-fill-#{$color-key} {
                background-color: $tone-value !important;
            }
        } @else {
            .u-fill-#{$color-key}-#{$tone-key},
            %u-fill-#{$color-key}-#{$tone-key} {
                background-color: $tone-value !important;
            }
        }
    }
}


/**
 * Color (Text)
 */

@each $color-key, $color-value in $colors {
    @each $tone-key, $tone-value in $color-value {
        @if $tone-key == base {
            .u-text-#{$color-key},
            %u-text-#{$color-key} {
                color: $tone-value !important;
                fill: currentColor !important;
            }
        } @else {
            .u-text-#{$color-key}-#{$tone-key},
            %u-text-#{$color-key}-#{$tone-key} {
                color: $tone-value !important;
                fill: currentColor !important;
            }
        }
    }
}