/**
 * Container
 */

[class*="u-container"],
%u-container {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

@each $key, $value in $containers {
    .u-container-#{$key},
    %u-container-#{$key} {
        max-width: $value;
    }
}
