// =============================================
// Container
// =============================================

[class*="u-container"] {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.u-container-sm {
    max-width: $container-sm;
}
    
.u-container-md {
    max-width: $container-md;
}
    
.u-container-lg {
    max-width: $container-lg;
}

.u-container-xl {
    max-width: $container-xl;
}