// =============================================
// Full Height
// =============================================

.u-full-height {
    display: flex;
    flex-flow: wrap;

    > * {
        width: 100%;
    }
}