/**
 * Grid
 */

.grid,
%grid {
    @include grid;
}


/**
 * Grid Gutter X Axis
 */

.g-gutter-x,
%g-gutter-x {
    @include grid-gutter-x;
}


/**
 * Grid Gutter Y Axis
 */

.g-gutter-y,
%g-gutter-y {
    @include grid-gutter-y;
}


/**
 * Grid Gutter X&Y Axis
 */

.g-gutter,
%g-gutter {
    @include grid-gutter-x;
    @include grid-gutter-y;
}


/**
 * Grid Center X Axis
 */

.g-center-x,
%g-center-x {
    @include justify-content(center);
}


/**
 * Grid Center Y Axis
 */

.g-center-y,
%g-center-y {
    @include align-items(center);
}


/**
 * Grid Center X&Y Axis
 */

.g-center,
%g-center {
    @include justify-content(center);
    @include align-items(center);
}


/**
 * Grid Space
 */

.g-space,
%g-space {
    @include justify-content(space-between);
}


/**
 * Grid Reverse
 */

.g-reverse,
%g-reverse {
    @include flex-direction(row-reverse);
}


/**
 * Grid Collapse
 */

.g-collapse,
%g-collapse {
    > * {
        width: auto;
    }
}


/**
 * Grid Stretch First
 */

.g-stretch-first,
%g-stretch-first {
    @extend %g-collapse;
    @include flex-wrap(nowrap);

    > *:first-child {
        flex-grow: 1;
    }
    > *:last-child {
        flex-shrink: 0;
    }
}


/**
 * Grid Stretch Last
 */

.g-stretch-last,
%g-stretch-last {
    @extend %g-collapse;
    @include flex-wrap(nowrap);

    > *:first-child {
        flex-shrink: 0;
    }
    > *:last-child {
        flex-grow: 1;
    }
}


/**
 * Grid Columns
 */

@each $screen, $value in $screens {
    @if $screen == xs {
        @for $i from 1 through 12 {
            .g-col-#{$screen}-#{$i},
            %g-col-#{$screen}-#{$i} {
                @include grid-col($i of 12);
            }
        }
    } @else {
        @include breakpoint(screen($screen)) {
            @for $i from 1 through 12 {
                .g-col-#{$screen}-#{$i},
                %g-col-#{$screen}-#{$i} {
                    @include grid-col($i of 12);
                }
            }
        }
    }
}
