/**
 * Responsive Image
 *
 * @since 1.0.0
 */

.u-img-responsive,
%u-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}


figure {
    margin: 0;
    margin-bottom: spacing(lg);

    img {
        @extend %u-img-responsive;
    }
}
