/**
 * Unstyled List
 *
 * @since 1.0.0
 */

.u-list-unstyled,
%u-list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}


/**
 * List Inline
 *
 * @since 1.0.0
 */

.u-list-inline,
%u-list-inline {
    padding-left: 0;
    margin-left: 0;
    list-style: none;

    > li {
        display: inline-block;
    }
}


/**
 * Ordered List
 *
 * @since 1.0.0
 */

.u-list-ordered,
%u-list-ordered {
    list-style: decimal;
}


/**
 * Unordered List
 *
 * @since 1.0.0
 */

.u-list-unordered,
%u-list-unordered {
    list-style: disc;
}
