/**
 * Ratio
 *
 * @since 2.4.0
 */

.u-ratio,
%u-ratio {
    @include ratio;

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    > *:not(img) {
        width: 100%;
        height: 100%;
    }

    > img {
        max-width: 100%;
        max-height: 100%;
    }
}


/**
 * Ratio 16x9
 *
 * @since 2.4.0
 */

.u-ratio--16x9::before,
%u-ratio--16x9::before {
    padding-top: 56.25%;
}


/**
 * Ratio 4x3
 *
 * @since 2.4.0
 */

.u-ratio--4x3::before,
%u-ratio--4x3::before {
    padding-top: 75%;
}
