// =============================================
// Section
// =============================================

@each $key, $value in $sections {
    
    @if $key == base {
        .u-section,
        %u-section {
            &-top {
                margin-top: $value;
            }
            &-bottom {
                margin-bottom: $value;
            }
            @extend %u-section-top;
            @extend %u-section-bottom;
        }
    } @else {
        .u-section-#{$key},
        %u-section-#{$key} {
            &-top {
                margin-top: $value;
            }
            &-bottom {
                margin-bottom: $value;
            }
            @extend %u-section-#{$key}-top;
            @extend %u-section-#{$key}-bottom;
        }
    }
}