/**
 * Section Utility
 *
 * Adds spacing above, below and both that scales between the min and max
 * value from the min breakpoint to the max breakpoint.
 *
 * Loops through an array of section values set in _var.scss.
 * 3 classes become available for each value in the array.
 *
 * A default base setting doesn't require `-*`.
 *
 * @var $sections
 * @since 1.2.0
 * @link http://goo.gl/l2mymR
 */

@each $key, $value in $sections {
    @if $key == base {
        .u-section,
        %u-section {
            @include section($key);
        }
    } @else {
        .u-section-#{$key},
        %u-section-#{$key} {
            @include section($key);
        }
    }
}
