// =============================================
// Toggle
// =============================================

.u-toggle {
    display: none;

    &.is-active {
        display: block;
    }
}


// =============================================
// Add cursor on toggles for mobile
// =============================================

[data-cc-action] {
    cursor: pointer;

    &,
    * {
        user-select: none;
        -webkit-touch-callout: none;
    }

    * {
        cursor: auto;
    }
}
