// =============================================
// Visible
// =============================================

$screen-min: nth(map-keys($screens),1);
$screen-max: nth( map-keys($screens), length($screens) );

[class*="u-visible-"] {
    display: none !important;
}

@each $screen, $value in $screens {

    $media-query: screen($screen) screen($screen,max);

    @if $screen == $screen-min {
        $media-query: max-width screen($screen,max);
    } @else if $screen == $screen-max {
        $media-query: screen($screen);

    }

    @include breakpoint($media-query) {
        @each $visible in $visibility {

            $class: #{$screen}-#{$visible};
            @if $visible == block {
                $class: #{$screen};
            }

            .u-visible-#{$class} {
                display: #{$visible} !important;
            }
        }
    }
}


// =============================================
// Hidden
// =============================================

@each $screen, $value in $screens {
    $media-query: screen($screen) screen($screen,max);
    @if $screen == $screen-min {
        $media-query: max-width screen($screen,max);
    } @else if $screen == $screen-max {
        $media-query: screen($screen);
    }

    @include breakpoint($media-query) {
        .u-hidden-#{$screen} {
            display: none !important;
        }
    }
}


// =============================================
// Visible
// =============================================

@each $visible in $visibility {
    $class: '.u-visible-#{$visible}';
    @if $visible == block {
        $class: '.u-visible';
    }

    #{$class} {
        display: #{$visible} !important;
    }
}


// =============================================
// Hide
// =============================================

.u-hidden {
    display: none !important;
}


// =============================================
// Visually Hidden
// =============================================

.u-visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
