// =============================================
// Grey Palette
// =============================================

.bg-grey {
    background-color: $grey;
}
.bg-dark-grey {
    background-color: $dark-grey;
}
.bg-darker-grey {
    background-color: $darker-grey;
}
.bg-light-grey {
    background-color: $light-grey;
}
.bg-lighter-grey {
    background-color: $lighter-grey;
}
.bg-white {
    background-color: $white;
}
.bg-black {
    background-color: $black;
}


// =============================================
// Social Media
// =============================================

.bg-twitter {
    background-color: $twitter;
}
.bg-facebook {
    background-color: $facebook;
}
.bg-google {
    background-color: $google;
}
.bg-pinterest {
    background-color: $pinterest;
}
.bg-instagram {
    background-color: $instagram;
}
.bg-vimeo {
    background-color: $vimeo;
}
.bg-linkedin {
    background-color: $linkedin;
}
.bg-youtube {
    background-color: $youtube;
}