// =============================================
// Backgrounds - Grey Palette
// =============================================

.bg-grey {
    background-color: $grey !important;
}
.bg-dark-grey {
    background-color: $dark-grey !important;
}
.bg-darker-grey {
    background-color: $darker-grey !important;
}
.bg-light-grey {
    background-color: $light-grey !important;
}
.bg-lighter-grey {
    background-color: $lighter-grey !important;
}
.bg-white {
    background-color: $white !important;
}
.bg-black {
    background-color: $black !important;
}


// =============================================
// Backgrounds - Social Media
// =============================================

.bg-twitter {
    background-color: $twitter !important;
}
.bg-facebook {
    background-color: $facebook !important;
}
.bg-google {
    background-color: $google !important;
}
.bg-pinterest {
    background-color: $pinterest !important;
}
.bg-instagram {
    background-color: $instagram !important;
}
.bg-vimeo {
    background-color: $vimeo !important;
}
.bg-linkedin {
    background-color: $linkedin !important;
}
.bg-youtube {
    background-color: $youtube !important;
}