// =============================================
// Form
// =============================================

fieldset {
	margin: 0;
    padding: 0;
	border: 0;
}

legend {
    display: none;
}

input,
label,
select,
textarea {
	display: block;
	font-family: $font-family;
	font-size: 1em;
	color: $black;
}

label {
	margin-bottom: $spacing-xs;

	&.required::after {
		content: "*";
	}
}

input,
textarea,
select[multiple=multiple] {
	background-color: $white;
	border: 1px solid $grey;
	border-radius: 0;
	padding: $spacing-xs $spacing-sm;
	width: 100%;

	&:focus {
		border-color: $black;
		outline: none;
	}
}

label input {
    width: auto;
}

select {
	max-width: 100%;
	width: auto;
}

textarea {
	resize: vertical;
}

input[type="search"] {
	appearence: none;
	box-sizing: border-box;
	border-radius: 0;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

input[type="file"] {
	width: 100%;
    border-width: 0;
    padding-left: 0;
    padding-right: 0;
}


// =============================================
// Form group
// =============================================

.form-group {
	margin-bottom: $spacing;
}


// =============================================
// Form inline
// =============================================

.form--inline {
	display: flex;

	> * {
		margin-right: $spacing;
	}
}


// =============================================
// Form Lists
// =============================================
.form-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.form-group,
.field-container {
    margin: 0.6em 0;
}
abbr[title="Required"],
.required em {
    color: red;
}
.required em {
    margin-right: 4px;
}
.legend {
    @extend .h5;
}
.fieldset {
    margin-bottom: 2rem;
}


// =============================================
// Input Groups
// =============================================
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    .btn,
    .button {
        margin-left: -2px;
    }
}
.input-group .form-control {
    border-right: 0;
}
.input-group .form-control:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group .form-control:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-btn > .btn {
    position: relative;
}
.input-group-btn > .btn + .btn {
    margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
    z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
    margin-right: -1px;
}


// =============================================
// Input Radio Wrapper
// =============================================
.input-radio-wrapper {}
.input-radio-wrapper .input-radio {
    display: inline-block;
    margin-right: 6px;
    .radio {
        margin-left: 4px;
    }
}