// =============================================
// Headings
// =============================================

h1, h2, h3, h4, h5, h6,
%h1, %h2, %h3, %h4, %h4, %h5, %h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $heading-font-family;
	line-height: $line-height-xxs;
	font-weight: $bold;
    color: $black;
    margin-top: $spacing-xl;
    margin-bottom: $spacing;
    text-transform: uppercase;
}


// =============================================
// H1
// =============================================

h1, %h1, .h1 {
	font-size: $font-size-h1;
	margin-bottom: $spacing-lg;
}


// =============================================
// H2
// =============================================

h2, %h2, .h2 {
	font-size: $font-size-h2;
}


// =============================================
// H3
// =============================================

h3, %h3, .h3 {
	font-size: $font-size-h3;
}


// =============================================
// H4
// =============================================

h4, %h4, .h4 {
	font-size: $font-size-h4;
}


// =============================================
// H5
// =============================================

h5, %h5, .h5 {
	font-size: $font-size-h5;
}


// =============================================
// H6
// =============================================

h6, %h6, .h6 {
	font-size: $font-size-h6;
}