// =============================================
// Icons
// =============================================

 [class^="icon-"], [class*=" icon-"] {
     font-size: 1em;
 }


 // =============================================
 // Icons Small
 // =============================================

 .icon--sm,
 %icon--sm {
     font-size: 0.75em;
 }


// =============================================
// Icons large
// =============================================

.icon--lg,
%icon--lg {
    font-size: 1.5em;
}
