// =============================================
// Image
// =============================================

img {
	display: block;
}


// =============================================
// Image Responsive
// =============================================

.img-responsive,
%img-responsive {
	width: 100% \9;
	max-width: 100%;
	height: auto;
}

.img-inline {
    display: inline;
}