// =============================================
// Tables
// =============================================

table {
    background-color: transparent;
    width: 100%;
}

th, td {
    padding: $spacing;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid $grey-light;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $grey-light;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $grey;
    text-align: left;
}

tr:first-child > th {
    border-top: 0;
}

table > tbody {
    border-bottom: 1px solid $grey-light;
}


// =============================================
// Condensed Table
// =============================================

.table--condensed {
    th,
    td {
        padding: $spacing-xs;
    }
}


// =============================================
// Bordered Table
// =============================================

.table--bordered {
    border: 1px solid $grey-light;

    th,
    td {
        border: 1px solid $grey-light;
    }

    > thead th,
    > thead td {
       border-bottom-width: 2px;
    }
}


// =============================================
// Striped Table
// =============================================

.table--striped > tbody > tr:nth-child(odd) {
    background-color: $grey-lighter;
}


// =============================================
// Responsive Table
// =============================================

.table--responsive {
    overflow-x: auto;
    min-height: 0.01%;

    th,
    td {
        white-space: nowrap;
    }
}

@include breakpoint(max-width $screen-sm) {
    .table--responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid $grey-light;

        > table {
            margin-bottom: 0;
        }
    }
}
