// =============================================
// Default Tables
// =============================================

table {
    background-color: transparent;
    width: 100%;
    th,td {
    	padding: $spacing;
    }
    th {
    	text-align: left;
    }
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: $grey;
  text-align: left;
}
th {
  text-align: left;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid $grey-light;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid $grey-light;
}
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding-top: 18px;
    padding-bottom: 18px;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody {
    border-bottom: 1px solid $grey-light;
}
table > tbody + tbody {
  border-top: 2px solid $grey-light;
}
table table {
  background-color: $white;
}


// =============================================
// Condensed Table
// =============================================

.table--condensed > thead > tr > th,
.table--condensed > tbody > tr > th,
.table--condensed > tfoot > tr > th,
.table--condensed > thead > tr > td,
.table--condensed > tbody > tr > td,
.table--condensed > tfoot > tr > td {
  padding: 5px;
}


// =============================================
// Bordered Table
// =============================================

.table--bordered {
  border: 1px solid $grey-light;
}
.table--bordered > thead > tr > th,
.table--bordered > tbody > tr > th,
.table--bordered > tfoot > tr > th,
.table--bordered > thead > tr > td,
.table--bordered > tbody > tr > td,
.table--bordered > tfoot > tr > td {
  border: 1px solid $grey-light;
}
.table--bordered > thead > tr > th,
.table--bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table--striped > tbody > tr:nth-child(odd) {
  background-color: $grey-lighter ;
}


// =============================================
// "Responsive" Table
// =============================================
.table--responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@include breakpoint(max-width $screen-sm) {
    .table--responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid $grey-light;
    }
    .table--responsive > table {
      margin-bottom: 0;
    }
    .table--responsive > table > thead > tr > th,
    .table--responsive > table > tbody > tr > th,
    .table--responsive > table > tfoot > tr > th,
    .table--responsive > table > thead > tr > td,
    .table--responsive > table > tbody > tr > td,
    .table--responsive > table > tfoot > tr > td {
      white-space: nowrap;
    }
    .table--responsive > .table--bordered {
      border: 0;
    }
    .table--responsive > .table--bordered > thead > tr > th:first-child,
    .table--responsive > .table--bordered > tbody > tr > th:first-child,
    .table--responsive > .table--bordered > tfoot > tr > th:first-child,
    .table--responsive > .table--bordered > thead > tr > td:first-child,
    .table--responsive > .table--bordered > tbody > tr > td:first-child,
    .table--responsive > .table--bordered > tfoot > tr > td:first-child {
      border-left: 0;
    }
    .table--responsive > .table--bordered > thead > tr > th:last-child,
    .table--responsive > .table--bordered > tbody > tr > th:last-child,
    .table--responsive > .table--bordered > tfoot > tr > th:last-child,
    .table--responsive > .table--bordered > thead > tr > td:last-child,
    .table--responsive > .table--bordered > tbody > tr > td:last-child,
    .table--responsive > .table--bordered > tfoot > tr > td:last-child {
      border-right: 0;
    }
    .table--responsive > .table--bordered > tbody > tr:last-child > th,
    .table--responsive > .table--bordered > tfoot > tr:last-child > th,
    .table--responsive > .table--bordered > tbody > tr:last-child > td,
    .table--responsive > .table--bordered > tfoot > tr:last-child > td {
      border-bottom: 0;
    }
}