// =============================================
// Tag
// =============================================

.tag {
    display: inline-block;
    background-color: $grey;
    color: $white;
    font-size: $font-size-sm * 0.9;
    padding: ($spacing-xs/1.5) $spacing-sm;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    line-height: 1;
    font-weight: bold;
    border-radius: $border-radius;
}


// =============================================
// Tag small
// =============================================

.tag--sm {
    font-size: $font-size-xxs;
}


// =============================================
// Tag large
// =============================================

.tag--lg {
    font-size: $font-size-lg;
    padding: ($spacing-sm/2) $spacing-sm;
}


// =============================================
// Tag variations
// =============================================

.tag--primary {
    background-color: purple;
}

.tag--success {
    background-color: green;
}

.tag--info {
    background-color: blue;
}

.tag--warning {
    background-color: orange;
}

.tag--danger {
    background-color: red;
}


// =============================================
// Badges
// =============================================

.tag--badge {
    border-radius: $spacing-xl;
}
