// =============================================
// Font Anti aliasing magic
// =============================================

// html {
// 	font-smoothing: antialiased;
// }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
	html {
		-webkit-font-smoothing: subpixel-antialiased;
	}
}


// =============================================
// Typography
// =============================================

html {
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    color: $grey;
}

ul, ol, p {
    margin-top: 0;
}

p {
    margin-bottom: $spacing;
}

ul, ol {
	margin-bottom: $spacing-lg;
	padding-left: $spacing-xl;
}

blockquote {
    border-left: 3px solid $light-grey;
    padding-left: $spacing;
}

strong {
	font-weight: $bold;
	color: $dark-grey;
}


code {
    padding: 2px 4px;
    font-size: $font-size-sm;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}


// =============================================
// Links
// =============================================

a,
%link,
.link {
    color: $black;

    &:hover {
        color: $grey;
    }
}


// =============================================
// Lead Paragraph
// =============================================

.lead {
	font-size: $font-size-lg;
	font-weight: $bold;
	line-height: $line-height-sm;
	margin-bottom: $spacing-lg;
}
