// =============================================
// Buttons
// =============================================

@mixin btn {
    padding: 0.44rem $spacing;
	border-radius: 0;
	font-size: $font-size-lg;
	font-family: $heading-font-family;
	font-weight: $bold;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    width: auto;
    background-color: $darker-grey;
    color: $white;

    &:hover,
    &:focus {
        color: $white;
        background-color: $dark-grey;
    }
}


// =============================================
// Small
// =============================================

@mixin btn--sm {
    padding: $spacing-xs $spacing-sm;
    font-size: 1em;
}


// =============================================
// Large
// =============================================

@mixin btn--lg {
    padding: $spacing-sm $spacing-lg;
    font-size: $font-size-xl;
}


// =============================================
// Text
// =============================================

@mixin btn--text {
    @extend %link;
    background-color: transparent;
    color: $black;
    font-weight: normal;
    text-decoration: underline;

    &:hover,
    &:focus {
        background-color: transparent;
        color: $black;
        text-decoration: none;
    }

    &:disabled {
        background-color: transparent;
        color: $grey;
    }
}


// =============================================
// Block
// =============================================

@mixin btn--block {
    display: block;
    width: 100%;
}

// =============================================
// Disabled
// =============================================

@mixin btn--disabled {
    cursor: not-allowed;
    background-color: $grey;
	color: $dark-grey;

    &:hover,
    &:focus {
        background-color: $grey;
		color: $dark-grey;
    }
}
