// =============================================
// Icons
// =============================================

.icon,
%icon,
svg {
    display: block;
    height: 15px;
    width: 15px;

    rect,
    circle,
    path {
        fill: $white;
    }
}

a:hover {
    .icon,
    svg {
        rect,
        circle,
        path {
            fill: $blue;
        }
    }
}


// =============================================
// Icons large
// =============================================

.icon--lg,
%icon--lg {
    height: 25px;
    width: 25px;
}


// =============================================
// Invert icon
// =============================================

.icon--invert,
%icon--invert {
    rect,
    circle,
    path {
        fill: $black;
    }
}

a:hover {
    .icon--invert {
        rect,
        circle,
        path {
            fill: $white;
        }
    }
}
