/**
 * Generate colours for buttons
 */

@mixin button-colors($button, $state) {
    background: button($button, $state, background);
    border-color: button($button, $state, border-color);
    color: button($button, $state, color);
}

@mixin button-ghost-colors($button, $state) {
    background: transparent;
    color: button($button, $state, background);
}
