// =============================================
// Card
// =============================================

@mixin card {
    border: 1px solid color(grey,light);

    &__header,
    &__footer {
        background-color: color(grey,lighter);
        padding: spacing(sm) spacing();
    }

    &__header {
        border-bottom: 1px solid color(grey, light);
    }

    &__footer {
        border-top: 1px solid color(grey, light);
    }
}
