// =============================================
// Card
// =============================================

@mixin card {
    > *:not(img) {
        &:not(:last-child) {
            padding-bottom: $spacing;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    &__header > *,
    &__footer > * {
        margin: 0;
    }
}


// =============================================
// Card with border
// =============================================

@mixin card--bordered {
    border: 1px solid color(grey,light);

    > *:not(img) {
        padding: $spacing;

        &:not(:last-child) {
            border-bottom: 1px solid color(grey,light);
        }
    }
}
