// =============================================
// Flex
// =============================================

@mixin flex {
    display: flex;
}


// =============================================
// Flex wrap
// =============================================

@mixin flex-wrap($value: nowrap) {
    flex-wrap: $value;
}


// =============================================
// Flex direction
// =============================================

@mixin flex-direction($value: row) {
    flex-direction: $value;
}


// =============================================
// Align items
// =============================================

@mixin align-items($value: flex-start) {
    align-items: $value;
}


// =============================================
// Justify content
// =============================================

@mixin justify-content($value: flex-start) {
    justify-content: $value;
}
