// =============================================
// Grid
// =============================================

@mixin grid {
    @include flex;
    @include flex-wrap(wrap);

    > * {
        width: 100%;

        > *:first-child {
            margin-bottom: 0;
        }
    }
}


// =============================================
// Grid gutter X
// =============================================

@mixin grid-gutter-x($gap: $gutter-x) {
    $half-gap: $gap / 2;
    margin-left: -$half-gap;
    margin-right: -$half-gap;

    > * {
        padding-left: $half-gap;
        padding-right: $half-gap;
    }
}


// =============================================
// Grid gutter Y
// =============================================

@mixin grid-gutter-y($gap: $gutter-y, $edge: spacing()) {
    > * {
        margin-bottom: $gap;

        @supports(-ms-accelerator:true) {
            margin-bottom: $edge;
        }
    }
}


// =============================================
// Grid Col
// =============================================

@mixin grid-col($col: 100%) {
    @if length($col) > 1 {
        width: (nth($col, 1) / nth($col, 3)) * 100%;
    } @else {
        width: $col;
    }
}
