/**
 * List Unstyled
 */

@mixin list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}


/**
 * List Inline
 */

@mixin list-inline {
    padding-left: 0;
    margin-left: 0;
    list-style: none;

    > li {
        display: inline-block;
    }
}


/**
 * List Ordered
 */

@mixin list-ordered {
    list-style: decimal;
}


/**
 * List Unordered
 */

@mixin list-unordered {
    list-style: disc;
}
