// =============================================
// Base Nav
// =============================================


@mixin nav {
    @extend .u-list-unstyled;

    a {
        text-decoration: none;
    }
}


// =============================================
// Nav Pills
// =============================================

@mixin nav--pills {
    a {
        display: block;
        padding: spacing(xs) spacing(sm);
    }
}


// =============================================
// Nav inline
// =============================================

@mixin nav--inline {
    @include flex;
    @include flex-wrap(wrap);
    white-space: nowrap;
}


// =============================================
// Nav space
// =============================================

@mixin nav--space {
    &:not(.nav--inline) > * {
        margin-bottom: spacing(sm);
    }

    &.nav--inline > * {
        margin-right: spacing(sm);

        &:last-child {
            margin-right: 0;
        }
    }
}


// =============================================
// Nav Multi Level
// =============================================

@mixin nav--multi-level {
    li {
        position: relative;
    }

    // All levels
    ul,
    ol {
        @extend .nav;
        display: none;
        position: absolute;
    }

    // Just Level 0
    > ul,
    > ol {
        top: 100%;
    }

    ul ul,
    ol ol,
    ul ol,
    ol ul {
        top: 0;
        left: 100%;
    }

    li:hover > ul,
    li:hover > ol {
        display: block;
    }

    a {
        white-space: nowrap;
    }
}


// =============================================
// Nav Pager
// =============================================

@mixin nav--pager {
    @include justify-content(center);
    font-size: 0;

    a {
        @include circle(color(neutral, light), 16px);

        &:hover,
        &.is-active {
            background-color: color(neutral, lighter);
        }

        &:active {
            background-color: color(neutral, white);
        }
    }
}


// =============================================
// Nav table
// =============================================

@mixin nav--table {
    display: table;
    width: 100%;

    > * {
        display: table-cell;
        text-align: center;
    }
}
