/**
 * Ratio
 */

@mixin ratio($value: 100%) {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        padding-top: $value;
        overflow: hidden;
    }
}
