/**
 * Section
 */

$screen-min: screen( nth(map-keys($screens),2) );
$screen-max: screen( nth( map-keys($screens), length($screens) ) );

@mixin section($key) {
    margin-top: section($key, min);
    margin-bottom: section($key, min);

    &-top {
        margin-top: section($key, min);
    }
    &-bottom {
        margin-bottom: section($key, min);
    }

    @include breakpoint($screen-min) {
        margin-top: responsive-size(section($key, min), section($key, max));
        margin-bottom: responsive-size(section($key, min), section($key, max));

        &-top {
            margin-top: responsive-size(section($key, min), section($key, max));
        }
        &-bottom {
            margin-bottom: responsive-size(section($key, min), section($key, max));
        }
    }

    @include breakpoint($screen-max) {
        margin-top: section($key, max);
        margin-bottom: section($key, max);

        &-top {
            margin-top: section($key, max);
        }
        &-bottom {
            margin-bottom: section($key, max);
        }
    }
}
