/**
 * Tabs
 */

@mixin tabs {
    @include flex;
    @include flex-wrap(wrap);

    > [class*="__header"] {
        cursor: pointer;
        order: 1;

        &.is-active {
            color: red;
        }
    }

    > [class*="__body"] {
        order: 2;
        width: 100%;
        display: none;

        &.is-active {
            display: block;
        }
    }
}
