// =============================================
// Clearfix
// =============================================

.u-clearfix,
%u-clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
