// =============================================
// Container
// =============================================

.u-container {
	max-width: $container;
	margin-left: auto;
	margin-right: auto;
	width: 96%;

	&--sm {
		max-width: $container-sm;
	}

	&--lg {
		max-width: $container-lg;
	}
}
