// =============================================
// Image Responsive
// =============================================

.u-img-responsive,
%u-img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
    img {
        @extend %u-img-responsive;
    }
}