// =============================================
// Layout
// =============================================

.l-two-col-left,
.l-two-col-right,
.l-three-col {
	@include grid;
    @include grid-up;
}


// =============================================
// Left and right hand side
// =============================================

@include breakpoint($screen-sm) {
	.l-two-col-left,
	.l-two-col-right {
		.l-side {
			@include grid-col(25%);
            order: 1;
		}
		.l-body {
			@include grid-col(75%);
            order: 2;
		}
	}
}


// =============================================
// Right column
// =============================================

@include breakpoint($screen-sm) {
	.l-two-col-right {
		@include grid-reserve;
	}
}


// =============================================
// Three column
// =============================================

@include breakpoint($screen-sm) {
	.l-three-col {
		.l-side {
			@include grid-col(20%);
			order: 1;
		}
		.l-body {
			@include grid-col(60%);
			order: 2;
		}
		.l-side--right {
			order: 3;
		}
	}
}
