// =============================================
// Overlay
// =============================================

.u-overlay,
%u-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    opacity: 0;
    z-index: $z-9;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.overlay.is-active {
    opacity: 0.85;
    visibility: visible;
}