// =============================================
// Visible
// =============================================

.u-visible-xs,
.u-visible-sm,
.u-visible-md,
.u-visible-lg,
%u-visible-xs,
%u-visible-sm,
%u-visible-md,
%u-visible-lg {
    display: none !important;
}

@include breakpoint(max-width $screen-xs-max) {
    .u-visible-xs,
    %u-visible-xs {
        display: block !important;
    }
}

@include breakpoint($screen-sm $screen-sm-max) {
    .u-visible-sm,
    %u-visible-sm {
        display: block !important;
    }
}

@include breakpoint($screen-md $screen-md-max) {
    .u-visible-md,
    %u-visible-md {
        display: block !important;
    }
}

@include breakpoint($screen-lg) {
    .u-visible-lg,
    %u-visible-lg {
        display: block !important;
    }
}


// =============================================
// Visible inline
// =============================================

.u-visible-xs-inline,
.u-visible-sm-inline,
.u-visible-md-inline,
.u-visible-lg-inline,
%u-visible-xs-inline,
%u-visible-sm-inline,
%u-visible-md-inline,
%u-visible-lg-inline {
    display: none !important;
}

@include breakpoint(max-width $screen-xs-max) {
    .u-visible-xs-inline,
    %u-visible-xs-inline {
        display: inline !important;
    }
}

@include breakpoint($screen-sm $screen-sm-max) {
    .u-visible-sm-inline,
    %u-visible-sm-inline {
        display: inline !important;
    }
}

@include breakpoint($screen-md $screen-md-max) {
    .u-visible-md-inline,
    %u-visible-md-inline {
        display: inline !important;
    }
}

@include breakpoint($screen-lg) {
    .u-visible-lg-inline,
    %u-visible-lg-inline {
        display: inline !important;
    }
}


// =============================================
// Visible inline block
// =============================================

.u-visible-xs-inline-block,
.u-visible-sm-inline-block,
.u-visible-md-inline-block,
.u-visible-lg-inline-block,
%u-visible-xs-inline-block,
%u-visible-sm-inline-block,
%u-visible-md-inline-block,
%u-visible-lg-inline-block {
    display: none !important;
}

@include breakpoint(max-width $screen-xs-max) {
    .u-visible-xs-inline-block,
    %u-visible-xs-inline-block {
        display: inline-block !important;
    }
}

@include breakpoint($screen-sm $screen-sm-max) {
    .u-visible-sm-inline-block,
    %u-visible-sm-inline-block {
        display: inline-block !important;
    }
}

@include breakpoint($screen-md $screen-md-max) {
    .u-visible-md-inline-block,
    %u-visible-md-inline-block {
        display: inline-block !important;
    }
}

@include breakpoint($screen-lg) {
    .u-visible-lg-inline-block,
    %u-visible-lg-inline-block {
        display: inline-block !important;
    }
}


// =============================================
// Hidden
// =============================================

.u-hidden-xs,
.u-hidden-sm,
.u-hidden-md,
.u-hidden-lg,
%u-hidden-xs,
%u-hidden-sm,
%u-hidden-md,
%u-hidden-lg {
    display: block !important;
}

@include breakpoint(max-width $screen-xs-max) {
    .u-hidden-xs,
    %u-hidden-xs {
        display: none !important;
    }
}

@include breakpoint($screen-sm $screen-sm-max) {
    .u-hidden-sm,
    %u-hidden-sm {
        display: none !important;
    }
}

@include breakpoint($screen-md $screen-md-max) {
    .u-hidden-md,
    %u-hidden-md {
        display: none !important;
    }
}

@include breakpoint($screen-lg) {
    .u-hidden-lg,
    %u-hidden-lg {
        display: none !important;
    }
}


// =============================================
// Hide
// =============================================

.u-hidden,
%u-hidden {
    display: none !important;
}


// =============================================
// Visually Hidden
// =============================================

.u-visibility-hidden,
%u-visibility-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
