// =============================================
// Icons
// =============================================

.icon {
    height: spacing();
    width: spacing();
}


 // =============================================
 // Icons Small
 // =============================================

.icon--sm {
    height: spacing(sm);
    width: spacing(sm);
 }


// =============================================
// Icons large
// =============================================

.icon--lg {
    height: spacing(lg);
    width: spacing(lg);
}


// =============================================
// Icons payment
// =============================================

.icon--payment {
    width: spacing()*1.5;

    &.icon--sm {
        width: spacing(sm)*1.5;
    }

    &.icon--lg {
        width: spacing(lg)*1.5;
    }
}
