/**
 * Icon
 */

.icon {
    height: spacing();
    width: spacing();
}


 /**
 * Icon Small
 */

.icon--sm {
    height: spacing(sm);
    width: spacing(sm);
 }


/**
 * Icon Large
 */

.icon--lg {
    height: spacing(lg);
    width: spacing(lg);
}


/**
 * Icon Payment
 */

.icon--payment {
    width: spacing()*1.5;

    &.icon--sm {
        width: spacing(sm)*1.5;
    }

    &.icon--lg {
        width: spacing(lg)*1.5;
    }
}
