/**
 * Tag
 */

.tag,
%tag {
    display: inline-block;
    background-color: color(neutral,darker);
    color: color(neutral, white);
    padding: spacing(xs)/2 spacing(xs);
    white-space: nowrap;
    vertical-align: baseline;
    line-height: $line-height-sm;
    border-radius: $border-radius;
}


/**
 * Tag Small
 */

.tag--sm,
%tag--sm {
    font-size: $font-size-sm;
}


/**
 * Tag Large
 */

.tag--lg,
%tag--lg {
    font-size: $font-size-lg;
}


/**
 * Badge
 */

.tag--badge,
%tag--badge {
    border-radius: spacing(xl);
}
