// =============================================
// List inline
// =============================================

.list-inline,
%list-inline {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	
	> li {
		display: inline-block;
		padding-right: $spacing;
		padding-left: $spacing;
		
		&:first-child {
			padding-left: 0;
		}
		
		&:last-child {
			padding-right: 0;
		}
	}
}


// =============================================
// Ordered list
// =============================================

.list-ordered,
%list-ordered {
	list-style: decimal;
}


// =============================================
// Unordered list
// =============================================

.list-unordered li ,
%list-unordered li {
	list-style: none;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: -$spacing;
		top: ($line-height / 2) + 0em; // 0em converts value to em
		height: 6px;
		width: 6px;
		display: block;
		background-color: $blue;
		margin-top: -3px;
	}
}


// =============================================
// Unstyled list
// =============================================

%list-unstyled,
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style:none;
}