// =============================================
// Main Nav structure
// =============================================

.main-nav {
	@extend %clearfix;
	background-color: $white;
	position: relative;

	.container {
		@extend %clearfix;
		position: relative;
	}

	.nav--secondary {
		display: none;
	}

	@include breakpoint($screen-lg) {
		.nav--secondary {
			display: block;
			float: right;
		}
		.nav--primary {
			float: left;
		}
	}
}
