// =============================================
// Headings
// =============================================

h1, h2, h3, h4, h5, h6,
%h1, %h2, %h3, %h4, %h4, %h5, %h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $heading-font-family;
	line-height: $line-height-sm;
	font-weight: $bold;
    margin-top: 0;
    margin-bottom: $spacing-xs;
	// font-smoothing: antialiased;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6,
* + .h1, * + .h2, * + .h3, * + .h4, * + .h5, * + .h6 {
	margin-top: $spacing-lg;
}

@each $key, $value in $type-scales {
	@if $key == base {
		@include heading-scale($value);
	} @else {
		@include breakpoint(screen($key)) {
    		@include heading-scale($value);
		}
	}
}