// =============================================
// Horizontal line
// =============================================

hr {
    border: 0;
    height: 1px;
    background-color: color(grey,light);
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
}
