// =============================================
// Icons
// =============================================

[class^="icon-"], [class*=" icon-"] {
     font-size: 1em;
}


 // =============================================
 // Icons Small
 // =============================================

.icon--sm,
%icon--sm {
     font-size: $font-size-xs;
 }


// =============================================
// Icons large
// =============================================

.icon--lg,
%icon--lg {
    font-size: $font-size-xl;
}
