// =============================================
// Font Anti aliasing magic
// =============================================

// html {
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
    html {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}


// =============================================
// Typography
// =============================================

html {
    font-size: $font-size;
    font-family: $font-family;
    line-height: $line-height;
    color: color(grey);
}

ul, ol, p {
    margin-top: 0;
    margin-bottom: spacing();
}

ul, ol {
	ul, ol {
		margin-bottom: 0;
	}
}

strong, b {
	font-weight: $bold;
}

dfn, em, i, cite {
    font-style: italic;
}

sub,
sup,
small {
    font-size: $font-size-sm;
}

code {
    padding: 2px 4px;
    font-size: $font-size-sm;
    color: color(error);
    background-color: color(grey, lighter);
    border-radius: $border-radius;
}

code,
kbd,
pre,
samp {
    font-size: $font-size;
}

mark {
    background: color(error);
    color: color(black);
}


// =============================================
// Links
// =============================================

a,
%link,
.link {
    color: color(black);
    touch-action: manipulation;

    &:hover {
        color: color(grey);
    }
}


// =============================================
// Lead
// =============================================

%lead,
.lead {
    font-size: $font-size-lg;
}


// =============================================
// Micro
// =============================================

%micro,
.micro {
    font-size: $font-size-sm;
}
