// =============================================
// Pagination
// =============================================

.breadcrumb {
    ul {
        @extend %u-list-inline;
    }
	li:not(:last-child) {
		display: inline-block;
		margin-right: $spacing-sm;

		&:after {
			content: '\e811';
			font-family: fontello;
			display: inline-block;
		}
	}
	a {
		display: inline-block;
		margin-right: $spacing-sm;
	}
}
