// =============================================
// Box sizing
// =============================================

*,
input, textarea, button {
	box-sizing: border-box;
}


// =============================================
// Body
// =============================================

body {
	position: relative;
}


// =============================================
// Container
// =============================================

.container {
	max-width: $container-max;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
