// =============================================
// Buttons
// =============================================

@mixin btn {
    padding: $spacing-xs $spacing;
	border-radius: 0;
	font-size: $font-size-lg;
	font-family: $heading-font-family;
	font-weight: $bold;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    line-height: 1;
    width: auto;
    background-color: color(grey,darker);
    color: color(white);
    fill: color(white);

    &:hover,
    &:focus {
        color: color(white);
        background-color: color(grey,dark);
    }

    &::moz-focus-inner {
        border: 0;
        padding: 0;
        margin-top: -2px;
        margin-bottom: -2px;
    }
}


// =============================================
// Extra Small
// =============================================

@mixin btn--xs {
    font-size: $font-size-xs;
}


// =============================================
// Small
// =============================================

@mixin btn--sm {
    font-size: $font-size-sm;
}


// =============================================
// Large
// =============================================

@mixin btn--lg {
    font-size: $font-size-xl;
}


// =============================================
// Text
// =============================================

@mixin btn--text {
    @extend %link;
    background-color: transparent;
    color: color(black);
    font-weight: normal;
    text-decoration: underline;
    fill: color(black);

    &:hover,
    &:focus {
        background-color: transparent;
        color: color(black);
        text-decoration: none;
    }

    &:disabled {
        background-color: transparent;
        color: color(grey);
    }
}


// =============================================
// Block
// =============================================

@mixin btn--block {
    display: block;
    width: 100%;
}

// =============================================
// Disabled
// =============================================

@mixin btn--disabled {
    cursor: not-allowed;
    background-color: color(grey);
	color: color(grey,dark);
	fill: color(grey,dark);

    &:hover,
    &:focus {
        background-color: color(grey);
		color: color(grey,dark);
    }
}
