// =============================================
// Flag
// =============================================

@mixin flag {
    margin-bottom: $spacing;
    display: flex;
    justify-content: space-between;

    > *:first-child {
        flex-grow: 1;
    }
}


// =============================================
// Flag Reversed
// =============================================

@mixin flag--reverse {
    flex-direction: row-reverse;
}


// =============================================
// Flag Reversed
// =============================================

@mixin flag--gutter {
    &:not(.flag--reverse) > *:first-child {
        margin-right: $gutter;
    }
    
    &.flag--reverse > *:first-child {
        margin-left: $gutter;
    }
}
