// =============================================
// Flag
// =============================================

@mixin flag {
    display: flex;
    justify-content: space-between;
}


// =============================================
// Flag Reversed
// =============================================

@mixin flag--reverse {
    flex-direction: row-reverse;
}


// =============================================
// Flag Gutter
// =============================================

@mixin flag--gutter {
    &:not(.flag--reverse) > *:first-child {
        margin-right: $gutter;
    }

    &.flag--reverse > *:first-child {
        margin-left: $gutter;
    }
}


// =============================================
// Flag Centered
// =============================================

@mixin flag--center {
    align-items: center;
}
