// =============================================
// Breadcrumb
// =============================================

.breadcrumb__list {
	margin: 0;
	padding: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.breadcrumb__item {
	list-style: none;
	display: inline;
	padding-left: 0;
	padding-right: $spacing-sm;
}
