// =============================================
// Main Nav
// =============================================

.main-nav {
	@extend %clearfix;
	padding-top: $spacing-sm;
	padding-bottom: $spacing-sm;

	@include breakpoint($screen-sm) {
		padding-top: $spacing-xs;
		padding-bottom: $spacing-xs;
	}
	@include breakpoint($screen-md) {
		padding-top: $spacing-sm;
		padding-bottom: $spacing-sm;
	}
}

.nav--secondary {
	display: none;
}

@include breakpoint($screen-lg) {
	.nav--secondary {
		display: block;
		float: right;
	}
	.nav--primary {
		float: left;
	}
}


// =============================================
// Navs
// =============================================

.nav--primary ul,
.nav--secondary ul {
	@extend %list-unstyled;

	font-family: $heading-font-family;
	text-transform: uppercase;
	
	li {
		margin-left: $spacing-sm;
		margin-right: $spacing-sm;
		display: inline-block;
		margin-bottom: 0;
		
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}


// =============================================
// Nav Primary
// =============================================

.nav--primary {
	ul {
		text-align: center;
	
		li {
			@include breakpoint($screen-lg) {
				margin-left: $spacing-xs;
				margin-right: $spacing-xs;
			}
		
			@include breakpoint($screen-xl) {
				margin-left: $spacing-sm;
				margin-right: $spacing-sm;
			}
		}
	}
	
	li {
		font-weight: $font-weight-bold;
		font-size: $font-size-h4;
	}
}

@include breakpoint($screen-sm) {
	.nav--primary li {
		font-size: $font-size-h3;
		padding-right: 12px;
		position: relative;
		
		&:after {
			@include triangle(down, 4px, $grey-darker);
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -1px;
		}
	}
}

@include breakpoint($screen-md) {
	.nav--primary {
		ul {
			text-align: left;
		}
		li {
			font-size: $font-size-h2;
		}
	}
}

@include breakpoint($screen-lg) {
	.nav--primary li {
		font-size: $font-size-h3;
	}
}

@include breakpoint($screen-xl) {
	.nav--primary li {
		font-size: $font-size-h2;
	}
}


// =============================================
// Nav Secondary
// =============================================

@include breakpoint($screen-lg) {
	.nav--secondary li {
		font-size: $font-size-h5;
		line-height: 2.3em;
	}
}

@include breakpoint($screen-xl) {
	.nav--secondary li {
		font-size: $font-size-h4;
	}
}