// =============================================
// Hide Show Section & Hide Number also
// Hide Show Checkmark tag and edit link
// =============================================

.opc {
    .step-title .btn,
    .allow.active .step-title .btn,
    .step-title .tag,
    .allow.active .step-title .tag {
        visibility: hidden;
    }
    
    .allow {
        .step-title {
            .tag,
            .btn {
                visibility: visible;
            }
        }
        .card {
            background-color: color(contextual, success-light);
            border-color: darken(color(contextual, success-light),12%);
        }
    
        &.active {
            .card {
                background-color: color(neutral, white);
                border-color: color(neutral, light);
            }
        }
    }
}