// =============================================
// Alignments
// =============================================

.alignleft,
.alignright {
    display: inline;
}

.alignleft {
    @extend %u-pull-left;
    margin-right: spacing();
}

.alignright {
    @extend %u-pull-right;
    margin-left: spacing();
}

.aligncenter {
    @extend %u-center;
    clear: both;
    display: block;
}


// =============================================
// Display
// =============================================

.byline,
.updated:not(.published),
.screen-reader-text {
    @extend %u-visually-hidden;
}


// =============================================
// Media
// =============================================

.wp-caption {
    border: 1px solid color(neutral, light);
    padding: spacing(xs) spacing(xs) 0 spacing(xs);
    margin-bottom: spacing();
    max-width: 100%;
}
.wp-caption-text {
	@extend %u-text-center;
}
.wp-caption .wp-caption-text {
	margin: spacing(xs) 0;
}


// =============================================
// Breadcrumb
// =============================================

.wp {
    .breadcrumb {
        > * {
            @extend %nav;
            @extend %nav--inline;
        }

        .separator {
            @extend %u-hidden;
        }
    }
}


// =============================================
// Pagination
// =============================================

.wp {
    .pagination {
        > * {
            @extend %nav;
            @extend %nav--inline;
            @extend %nav--pills;
            @extend %nav--space;
        }

        .next span,
        .prev span {
            @extend %u-visually-hidden;
        }
    }
}


// =============================================
// Sidebar Widget
// =============================================

.widget {

    margin-bottom: spacing(lg);

    ul {
        @extend %nav;
    }
}


// =============================================
// WordPress Forms
// =============================================

.search-submit,
.form-submit input[type="submit"] {
    @extend %btn;
}


// =============================================
// Formidable Forms
// =============================================

.frm_form_field {
    @extend %field-group;
}

.frm_submit {
    input[type="submit"] {
        @extend %btn;
    }

    img.frm_ajax_loading {
        @include ring(color(neutral, dark), color(neutral, lighter), spacing(), 4px);
        //@extend %u-spin;
        content: "";
        margin-left: spacing(xs);
        margin-right: spacing(xs);
        padding-top: spacing();
        padding-left: spacing();
    }
}

//.horizontal_radio .frm_opt_container {
//    @extend %field-group--inline;
//}

// .frm_required {
//     @extend %error;
// }

.frm_error {
    @extend %alert;
    @extend %alert--error;
    @extend %micro;
    @extend %u-space-xs-top;
    background-color: color(contextual, error);
    border-color: color(contextual, error);
}

.frm_error_style {
    @extend %alert;
    @extend %alert--error;
}


// =============================================
// Content
// =============================================

.page-header {
    border-bottom: 1px solid color(neutral, dark);
}

.content-area {
    .type-post {
        margin-bottom: spacing(lg);
        padding-bottom: spacing(lg);
        border-bottom: 1px solid color(neutral, dark);
    }
}

.entry-header,
.entry-summary img {
    margin-bottom: spacing();
}

.entry-header {
    @extend %title;
    text-align: left;

//    .entry-title {
//        @extend %title__main;
//    }
//    .entry-meta {
//        @extend %title__sub;
//    }
}

.entry-meta {
    @extend %micro;
}


// =============================================
// Post Nav
// =============================================

.post-navigation {

    .btn {
        //@extend %btn--xs;
        padding-left: spacing();
        padding-right: spacing();
    }

    .nav-previous {
        @extend %u-pull-left;
    }
    .nav-next {
        @extend %u-pull-right;
    }
}
