/**
 * Alert
 *
 * @since 1.0.0
 */

.alert,
%alert {
    padding: spacing();
    background-color: color(neutral, lighter);
    border: 1px solid color(neutral, dark);
    margin-bottom: spacing();

    p {
        margin: 0;
    }
}


/**
 * Dismissible Alert
 */

.alert--dismissible,
%alert--dismissible {
    padding-right: 3rem;
    position: relative;

    .close {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 3rem;
        text-decoration: none;
        display: block;
        text-align: center;
        text-indent: -9999%;

        &:after {
            content: "x";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            text-indent: 0;
            transform: translate(-50%, -50%);
        }
    }

    &.is-inactive {
        display: none;
    }
}


/**
 * Alert Variations
 */

.alert--success,
%alert--success {
    background-color: color(contextual, success-light);
    border-color: darken(color(contextual, success-light),12%);
}

.alert--warning,
%alert--warning {
    background-color: color(contextual, warning-light);
    border-color: darken(color(contextual, warning-light),15%);
}

.alert--error,
%alert--error {
    background-color: color(contextual, error-light);
    border-color: darken(color(contextual, error-light),5%);
}

.alert--info,
%alert--info {
    background-color: color(contextual, info-light);
    border-color: darken(color(contextual, info-light),5%);
}
