/**
 * Button
 */

.btn,
%btn {
    padding: spacing(xs) spacing();
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: $bold;
    line-height: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    width: auto;
    background-color: color(neutral,darkest);
    color: color(neutral, white);
    fill: currentColor;

    &:hover,
    &:focus {
        color: color(neutral, white);
        background-color: color(neutral,darker);
    }

    &::moz-focus-inner {
        border: 0;
        padding: 0;
        margin-top: -2px;
        margin-bottom: -2px;
    }
}


/**
 * Button Small
 */

.btn--sm,
%btn--sm {
    font-size: $font-size-sm;
}

/**
 * Button Large
 */

.btn--lg,
%btn--lg {
    font-size: $font-size-lg;
}


/**
 * Button Text
 */

.btn--text,
%btn--text {
    @extend %link;
    background-color: transparent;
    color: color(neutral, black);
    font-weight: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
        background-color: transparent;
        color: color(neutral, black);
        text-decoration: none;
    }

    &:disabled {
        background-color: transparent;
        color: color(neutral, dark);
    }
}


/**
 * Button Block
 */

.btn--block,
%btn--block {
    display: block;
    width: 100%;
}


/**
 * Button color variations
 */

@each $button-key, $button-value in $buttons {
    .btn--#{$button-key},
    %btn--#{$button-key} {

        @include button-colors($button-key, default);

        @if(index(map-keys($button-value), 'visited') != null) {
            &:visited {
                @include button-colors($button-key, default);
            }
        }

        @if(index(map-keys($button-value), 'hover') != null) {
            &:hover {
                @include button-colors($button-key, hover);
            }
        }

        @if(index(map-keys($button-value), 'active') != null) {
            &:active {
                @include button-colors($button-key, active);
            }
        }

        @if(index(map-keys($button-value), 'focus') != null) {
            &:focus {
                @include button-colors($button-key, focus);
            }
        }
    }
}


/**
 * Button Disabled
 */

.btn--disabled,
%btn--disabled,
.btn:disabled {
    cursor: not-allowed;
    background-color: color(neutral, dark);
    color: color(neutral,darker);

    &:hover,
    &:focus {
        background-color: color(neutral, dark);
        color: color(neutral,darker);
    }
}
