/**
 * Button
 */

.btn {
    padding: spacing(xs) spacing();
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: $bold;
    line-height: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    width: auto;
    background-color: color(neutral,darkest);
    color: color(neutral, white);
    fill: currentColor;

    &:hover,
    &:focus {
        color: color(neutral, white);
        background-color: color(neutral,darker);
    }

    &::moz-focus-inner {
        border: 0;
        padding: 0;
        margin-top: -2px;
        margin-bottom: -2px;
    }
}


/**
 * Button Small
 */

.btn--sm {
    font-size: $font-size-sm;
}

/**
 * Button Large
 */

.btn--lg {
    font-size: $font-size-lg;
}


/**
 * Button Text
 */

.btn--text {
    @extend .link;
    background-color: transparent;
    color: color(neutral, black);
    font-weight: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
        background-color: transparent;
        color: color(neutral, black);
        text-decoration: none;
    }

    &:disabled {
        background-color: transparent;
        color: color(neutral, dark);
    }
}


/**
 * Button Block
 */

.btn--block {
    display: block;
    width: 100%;
}


/**
 * Button Disabled
 */

.btn--disabled,
.btn:disabled {
    cursor: not-allowed;
    background-color: color(neutral, dark);
    color: color(neutral,darker);

    &:hover,
    &:focus {
        background-color: color(neutral, dark);
        color: color(neutral,darker);
    }
}
