/**
 * Card
 */

.card,
%card {
    @extend %u-separator;
    background-color: color(neutral, white);
    border-radius: $border-radius;

    > [class*="__header"] {
        @extend %u-separator-bottom;

        > * {
            margin-bottom: 0;
        }
    }

    > [class*="__body"] > *:last-child {
        margin-bottom: 0;
    }

    > [class*="__header"],
    > [class*="__body"],
    > [class*="__footer"] {
        padding: spacing(lg);
    }

    > [class*="__footer"] {
        @extend %u-separator-top;
    }
}
