/**
 * Field Group
 */

.field-group,
%field-group {
    margin: spacing() 0;

    .field-group {
        margin-top: spacing(xs);
        margin-bottom: spacing(xs);
    }

    &:first-child {
        margin-top: 0;
    }
}
