/**
 * Modal
 */

.modal,
%modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.is-active.modal {
    display: block;
}

/**
 * Modal Dialog
 */

.modal__dialog {
    background-color: color(neutral, white);
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include breakpoint(screen(sm)) {
        max-width: 50em;
        width: 90%;
        margin: 5em auto;
    }
}

.modal--sm .modal__dialog {
    max-width: 26em;
}

.modal--lg .modal__dialog {
    max-width: 42em;
}


/**
 * Modal Close
 */

.modal__close {
    position: fixed;
    top: spacing();
    right: spacing(lg);
    z-index: $z-1;
}
