/**
 * Overlay
 */

.overlay,
%overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
    cursor: pointer;
}

.has-active-overlay {
    overflow: hidden;
}

.is-active.overlay {
    display: block;
}
