/**
 * Pagination
 */

.pagination,
%pagination {
    &__pager {
        @extend %nav;
        @extend %nav--inline;
        @extend %nav--pills;
        @extend %nav--space;
    }
    &__previous,
    &__next {
        &::after {
            vertical-align: middle;
        }
    } 
    &__previous::after {
        @include chevron(color(neutral, dark), 6px, left, 2px);
    }
    &__next::after {
        @include chevron(color(neutral, dark), 6px, right, 2px);
    }
    
    a:hover,
    .is-active {
        background-color: color(neutral, lighter);
    }
}
