// =============================================
// Pagination
// =============================================

.pagination {
    li a::after {
        vertical-align: middle;
    }
    li:first-child a::after {
        @include chevron(color(neutral, dark), 6px, left, 2px);
    }
    li:last-child a::after {
        @include chevron(color(neutral, dark), 6px, right, 2px);
    }
}