/**
 * Product item
 */

.product-item {
    @extend %card;
    @include flex;
    @include flex-direction(column);
    
    > [class*="__image"] {
        border-bottom: seperator(base, width) seperator(base, style) seperator(base, color);
    }
    
    > [class*="__footer"] {
        margin-top: auto;
        padding-top: 0;
        border-top: 0;
    }
    
}


/**
 * Product Item with image on left and content on right
 */

.product-item--inline {
    @extend %u-clearfix;
    display: block;
    
    > [class*="__image"] {
        float: left;
        width: 30%;
        border-bottom: 0;
        border-right: seperator(base, width) seperator(base, style) seperator(base, color);
        transform: translateX(1px);
    }
    
    > [class*="__body"],
    > [class*="__footer"] {
        margin-left: 30%;
        border-left: seperator(base, width) seperator(base, style) seperator(base, color);
    }
}