/**
 * Responsive Table
 */

.responsive-table,
%responsive-table {
    overflow-x: auto;
    min-height: 0.01%;
    -webkit-overflow-scrolling: touch;

    th,
    td {
        white-space: nowrap;
    }
}

@include breakpoint(max-width screen(sm)) {
    .responsive-table,
    %responsive-table {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid color(neutral, light);
    }
}
