// =============================================
// Scroll
// =============================================

.scroll {
    position: relative;
    overflow: hidden;

    &__container {
        -webkit-overflow-scrolling: touch;
        overflow-y: hidden;
    }

    &__body {
        @include flex;

        > * {
            width: calc(50% - #{spacing(lg)/2});
            flex-shrink: 0;
            @extend .u-full-height;

            &:not(:last-child) {
                margin-right: spacing(lg);
            }

            @include breakpoint(screen(sm)) {
                flex-basis: 16em;
            }

            @include breakpoint(screen(xl)) {
                flex-basis: 18em;
            }
        }
    }

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: .4em;
        z-index: 1;
        opacity: 0;
        transition: opacity .3s;
    }

    &::before {
        left: 0;
        background: radial-gradient(ellipse at left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 80%);
    }

    &::after {
        right: 0;
        background: radial-gradient(ellipse at right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 80%);
    }

    .scroll__arrow {
        position: absolute;
        top: 50%;
        background-color: color(neutral, white);
        height: 8em;
        width: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: transform .2s;

        &--left {
            left: -.5em;
            padding-left: 1em;
            box-shadow: 3px 0 5px 0 rgba(0,0,0,.2);
            border-radius: 0 $border-radius $border-radius 0;
            transform: translate(-100%,-50%);

            &::before {
                @include chevron(color(neutral, dark), 15px, left, 3px);
            }
        }

        &--right {
            right: -.5em;
            padding-right: 1em;
            box-shadow: -3px 0 5px 0 rgba(0,0,0,.2);
            border-radius: $border-radius 0 0 $border-radius;
            transform: translate(100%,-50%);

            &::before {
                @include chevron(color(neutral, dark), 15px, right, 3px);
            }
        }
    }



    &.is-start {
        .scroll__arrow--right {
            transform: translate(10%,-50%);

            &:hover {
                transform: translate(-4%,-50%);
            }
        }
        &::after {
            opacity: 1;
        }
    }

    &.is-end {
        .scroll__arrow--left {
            transform: translate(-10%,-50%);

            &:hover {
                transform: translate(4%,-50%);
            }
        }
        &::before {
            opacity: 1;
        }
    }
}
