/**
 * Custom Select
 */

.select,
%select {
    padding: 0;
    padding-right: 2em;
    margin: 0;
    border: 1px solid color(neutral, dark);
    overflow: hidden;
    position: relative;
    background-color: color(neutral, white);

    &::after,
    &::before {
        position: absolute;
        right: 1em;
    }

    &::after {
        @include chevron(color(neutral, dark), 8px, down, 1px);
        top: 1.25em;
    }

    &::before {
        @include chevron(color(neutral, dark), 8px, up, 1px);
        top: 0.8em;
    }

    select {
        padding: 0.54em;
        width: 130%;
        max-width: none;
        border: none;
        box-shadow: none;
        background-color: transparent;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;

        &:focus {
            outline: none;
        }
    }
}
