/**
 * Single Form
 *
 * @since 3.0.0
 */

.single-form,
%single-form {
    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}