/**
 * Table
 */

.table,
%table {
    th, td {
        padding: spacing();
        vertical-align: top;
    }
    
    td {
        border-top: 1px solid color(neutral, light);
    }

    th {
        vertical-align: bottom;
    }

    caption {
        padding-top: spacing(sm);
        padding-bottom: spacing(sm);
        color: color(neutral, dark);
        text-align: left;
    }

    thead th {
        border-top: 0;
        border-bottom: 2px solid color(neutral, light);
    }

    tfoot td {
        border-top-width: 2px;
    }
}


/**
 * Table Condensed
 */

.table--condensed,
%table--condensed {
    th,
    td {
        padding: spacing(xs);
    }
}


/**
 * Tabled Bordered
 */

.table--bordered,
%table--bordered {
    border: 1px solid color(neutral, light);

    th,
    td {
        border: 1px solid color(neutral, light);
    }

    thead th,
    thead td {
       border-bottom-width: 2px;
    }
}


/**
 * Table Striped
 */

.table--striped,
%table--striped {
    tbody tr:nth-child(odd) {
        background-color: color(neutral, lighter);
    }
}
