// =============================================
// Footer
// =============================================

.footer {
	margin-top: $spacing-lg * 2;
}

@include breakpoint($screen-sm) {
	.footer {
		margin-top: $spacing-xxl * 2;
	}
}

@include breakpoint($screen-md) {
	.footer {
		background-color: $faint;
		
		.container {
			padding-top: $spacing-lg;
			padding-bottom: $spacing-lg;
		}
	}
}

@include breakpoint($screen-lg) {
	.footer .container {
		padding-top: $spacing-xxl * 1.4;
		padding-bottom: $spacing-xxl * 1.4;
	}
}


// =============================================
// Layout
// =============================================

.footer .container {
	display: flex;
	flex-direction: column;
}

.footer__widget {
	order: 1;
	width: 100%;	
}

.footer__widget--cards {
	order: 0;
}

@include breakpoint($screen-sm) {
	.footer__content li {
		width: 33.33%;
	}
}

@include breakpoint($screen-md) {
	.footer .container {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.footer__widget {
		width: 33.33%;
	}
	.footer__widget--cards {
		width: 100%;
	}
}

@include breakpoint($screen-lg) {
	.footer__widget,
	.footer__widget--cards {
		width: 25%;
		order: 1;
	}
}


// =============================================
// Footer widget
// =============================================

.footer__widget {
	border-bottom: 1px dotted $grey;
	padding-left: $spacing;
	padding-right: $spacing;
	background-color: $faint;
	font-size: $font-size-sm;
}

.footer__title {
	position: relative;
	margin-top: $spacing-sm;
	margin-bottom: $spacing-sm;
	
	&:after {
		position: absolute;
		content: "";
		top: 50%;
		height: 12px;
		width: 12px;
		background: url(../images/plus-alt.gif) no-repeat center center;
		margin-top: -6px;
		right: 0;
	}
}

.footer__content {
	padding-bottom: $spacing-xs;
	
	ul {
		@extend %list-unstyled;
		@extend %clearfix;
		margin-bottom: $spacing;
	}
	
	li {
		float: left;
		width: 50%;
	}
	
	
	a {
		color: $grey;
		
		&:hover {
			color: $grey-darker;
			text-decoration: underline;
		}
	}
}

@include breakpoint($screen-md) {
	.footer__widget {
		padding-left: 0;
		padding-right: 0;
		border-bottom: 0;
		
		h4 {
			padding-bottom: $spacing-xs;
		}
		
		li {
			width: auto;
			float: none;
		}
	}
}

@include breakpoint($screen-lg) {
	.footer__widget h4 {
		padding-bottom: $spacing-sm;
	}
}


// =============================================
// Toggle
// =============================================

.active .footer__title:after {
	background-image: url(../images/minus-alt.gif);
}

@include breakpoint($screen-md) {
	.footer__title {
		cursor: auto;
		
		&:after {
			display: none;
		}
	}
	.footer__content {
		display: block !important;
	}
}


// =============================================
// Footer cards
// =============================================

.footer__widget--cards {
	background-color: $white;
	text-align: center;
	
	.footer__title {
		@extend %h3;
		margin-bottom: $spacing-sm;
		cursor: auto;
		
		&:after {
			display: none;
		}
	}
	
	.footer__content {
		display: block;
	}
	
	ul {
		@extend %list-inline;
		
		> li {
			float: none;
			width: auto;
			padding-left: $spacing-xs / 2;
			padding-right: $spacing-xs / 2;
		}
	}
	
	img {
		height: 30px;
	}
}

@include breakpoint($screen-sm) {
	.footer__widget--cards img {
		height: 38px;
	}
}

@include breakpoint($screen-md) {
	.footer__widget--cards {
		background-color: transparent;
		text-align: left;
		border-bottom: 1px dotted $grey;
		padding-bottom: $spacing-xs;
		margin-bottom: $spacing-xl;
	}
}

@include breakpoint($screen-lg) {
	.footer__widget--cards {
		border-bottom: 0;
		
		.footer__title {
			margin-top: $spacing-sm;
			font-size: $font-size-h4;
		}
	}
}


// =============================================
// Footer copyright
// =============================================

.copyright {
	padding-top: $spacing;
	padding-bottom: $spacing-sm;
	
	p {
		line-height: $line-height-sm;
		font-size: $font-size-sm;
		color: lighten($grey, 20%);
	}

	@include breakpoint($screen-sm) {
		padding-top: $spacing-lg;
		padding-bottom: $spacing-lg;
	}
	
	@include breakpoint($screen-md) {
		padding-top: $spacing-xxl;
		padding-bottom: $spacing-xxl;
	}
}
