// =============================================
// Header
// =============================================

.nav--primary,
.ce-header .form-search .btn,
.skip-links {
    background-color: #16325c;
}
.ce-header .logo__text {
    color: #16325c;
}
.skip-link.skip-active,
.skip-link:hover {
    background-color: darken(#16325c, 10%);
}

.ce-header {
    
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__top {
        padding: 0.4em 1em;
        background-color: #F2F3F9;
        color: #000;
    }
    .site-links {
        margin: 0;
        font-size: 80%;
        text-align: right;
        li {
            margin-left: 1em;
        }
    }
    .form-search {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        max-width: 320px;
    }
    
    .nav--primary {
        clear: both;
        color: white;
        > * {
           text-align: center;
       }
       ol > li > a {
           color: white;
       }
    }
    
    .logo {
        float: left;
        display: block;
        max-width: 165px;
        margin-top: -1em;
        margin-bottom: 1em;
    }
    .tel {
        float: right;
    }
}