// =============================================
// Hover
// =============================================

.nav--primary .nav__dropdown {
	display: none;
}

.nav--primary > ul > li.active .nav__dropdown {
	display: block;
	z-index: 101;

	@include breakpoint($screen-md) {
		display: flex;
	}
}


// =============================================
// Nav Dropdown
// =============================================

.nav__dropdown {
	position: absolute;
	z-index: 100;
	left: -3.1%;
	right: -3.1%;
	top: 100%;

	@include breakpoint($screen-sm) {
		left: 0;
		right: 0;
	}
}

.nav__dropdown {
	background-color: $black;
	text-align: left;
	padding: $spacing-lg;
	padding-bottom: $spacing-xxl;

	ul {
		@extend %list-unstyled;
		@extend %clearfix;
		width: 100%;
	}

	a {
		@include ellipsis();
		color: $white;
		display: block;
		border-bottom: 1px dotted $grey-darker;
		padding: $spacing-sm $spacing-xs;
		padding-right: $spacing-xxl;
		position: relative;

		span {
			position: absolute;
			right: $spacing-xs;
			top: 50%;
			margin-top: -$spacing-sm;
			color: $grey;
			font-size: $font-size-sm;
			float: right;
		}

		&:hover {
			color: $blue;
			background-color: darken($grey-darker, 7%);
		}
	}

	p {
		padding-top: $spacing-xl;
		margin-bottom: 0;
	}

	h2 {
		margin-top: 0;
	}

	a.btn {
		color: $black;
		display: inline-block;
		border-color: transparent;
		padding-left: $spacing;
		padding-right: $spacing;

		&:hover {
	        background-color: darken($blue, 10%);
		}
	}
}

.nav__tab {
	width: 100%;
}

@include breakpoint($screen-sm) {
	.nav__dropdown {
		padding-right: 0;
		padding-left: $spacing-xxl;
		padding-bottom: $spacing-xxl;

		li {
			float: left;
			width: 50%;
			padding-right: $spacing-xxl;
		}
	}
}

@include breakpoint($screen-md) {
	.nav__dropdown {
		padding-top: $spacing-xxl;
		padding-bottom: $spacing-xxxl;
		display: flex;

		li {
			width: 33.3%;
		}

		a {
			padding-top: $spacing-xs;
			padding-bottom: $spacing-xs;
		}
	}

	.nav__dropdown--featured {
		li {
			width: 50%;
		}
	}
	.nav__tab {
		width: calc(66.6% - #{$spacing-xxl});

		&--featured {
			width: 33.3%;
			border-right: 1px dotted $grey-darker;
			margin-right: $spacing-xxl;

			li {
				width: 100%;
			}
		}

		&__content {
			display: block !important;
		}
	}
}

@include breakpoint($screen-lg) {
	.nav__dropdown {
		li {
			width: 25%;
		}
	}
	.nav__dropdown--featured {
		li {
			width: 33.33%;
		}
	}
	.nav__tab {
		width: calc(75% - #{$spacing-xxl});

		&--featured {
			width: 25%;

			li {
				width: 100%;
			}
		}
	}
}


// =============================================
// Nav Dropdown Featured
// =============================================

.nav__tab--featured {
	a {
		color: $blue;

		&:hover {
			color: $yellow;
		}
	}
}


// =============================================
// Nav title
// =============================================

.nav__title {
	user-select: none;
	margin-top: $spacing;
	margin-bottom: $spacing-xl;

	span {
		border: 1px solid $white;
		display: inline-block;
		padding: $spacing-xxs $spacing-sm;
		position: relative;
		background-color: $black;
		color: $white;
	}

	&:hover span {
		background: $grey-darker;
	}
}

.active > .nav__title {
	span {
		color: $black;
		background-color: $white;
		border-color: $black;

		&:before {
			content: "";
			position: absolute;
			top: $spacing-xs - 0.15rem;
			margin-left: -($spacing-sm + 0.25rem);
			z-index: -1;
			height: 100%;
			width: 2rem;
			background-color: $yellow;
		}

		&:after {
			@include triangle(down, 1rem, $yellow);
			position: absolute;
			left: -0.25rem;
			top: ($spacing-xs + 2rem);

			@include breakpoint($screen-md) {
				display: none;
			}
		}
	}

	&:hover span {
		background: $grey-light;
	}
}

.nav__title--az {
	position: absolute;
	top: 0;
	left: 13rem;
	top: $spacing-xl;

	@include breakpoint($screen-sm) {
		left: 14rem;
	}

	@include breakpoint($screen-md) {
		position: static;
	}
}

@include breakpoint($screen-md) {
	.nav__dropdown .nav__title {
		margin-top: 0;
		cursor: auto;

		span {
			border: 1px solid $white;
			background-color: $black;
			color: $white;

			&:before,
			&:after {
				display: none;
			}
		}

		&:hover span {
			background: $black;
		}
	}
}
