// =============================================
// Main Nav structure
// =============================================

.main-nav {
	@extend %clearfix;
	background-color: $white;
	position: relative;

	.container {
		@extend %clearfix;
		position: relative;
	}
}

.nav--secondary {
	display: none;
}

@include breakpoint($screen-lg) {
	.nav--secondary {
		display: block;
		float: right;
	}
	.nav--primary {
		float: left;
	}
}


// =============================================
// Navs Primary and Secondary
// =============================================

.nav--primary > ul,
.nav--secondary > ul {
	@extend %list-unstyled;

	> li {
		margin-left: $spacing-sm;
		margin-right: $spacing-sm;
		display: inline-block;
		margin-bottom: 0;
		padding-top: $spacing-sm;
		padding-bottom: $spacing-sm;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		> a {
			font-family: $heading-font-family;
			text-transform: uppercase;
		}
	}
}


// =============================================
// Nav Primary
// =============================================

.nav--primary {
	> ul {
		text-align: center;

		> li {
			@include breakpoint($screen-lg) {
				margin-left: $spacing-xs;
				margin-right: $spacing-xs;
			}

			@include breakpoint($screen-xl) {
				margin-left: $spacing-sm;
				margin-right: $spacing-sm;
			}

			> a {
		   		font-weight: $bold;
		   		font-size: $font-size-h4;
				position: relative;
		   	}

			/* Active state */
			&.active a:before {
				@include triangle(up, 8px, $black);
				position: absolute;
				bottom: -0.9rem;
				left: 50%;
				margin-left: -12px;
			}
		}
	}
}

@include breakpoint($screen-sm) {
	.nav--primary > ul > li > a {
		font-size: $font-size-h3;
		padding-right: 12px;

		&:after {
			@include triangle(down, 4px, $grey-darker);
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -1px;
		}

		&:hover:after {
			@include triangle(down, 4px, darken($blue, 20%));
		}
	}
}

@include breakpoint($screen-md) {
	.nav--primary {
		> ul {
			text-align: left;

			> li > a {
				font-size: $font-size-h2;
			}
		}
	}
}

@include breakpoint($screen-lg) {
	.nav--primary > ul > li > a {
		font-size: $font-size-h3;
	}
}

@include breakpoint($screen-xl) {
	.nav--primary > ul > li > a {
		font-size: $font-size-h2;
	}
}


// =============================================
// Nav Secondary
// =============================================

@include breakpoint($screen-lg) {
	.nav--secondary li {
		font-size: $font-size-h5;
		line-height: 2.3em;
	}
}

@include breakpoint($screen-xl) {
	.nav--secondary li {
		font-size: $font-size-h4;
	}
}


// =============================================
// Nav Burger
// =============================================

.nav--burger {
	display: none;
	position: absolute;
	top: 100%;
	background-color: $black;
	position: absolute;
	left: -3.1%;
	width: 106.2%;
	top: 100%;
	border-top: 1px solid $grey;
	padding-top: $spacing-xs;
	padding-bottom: $spacing;

	@include breakpoint($screen-sm) {
		left: -3.2%;
		right: 0;
		max-width: 350px;
		padding-left: $spacing;
		padding-right: $spacing;
	}

	@include breakpoint($screen-md) {
		display: none;
	}

	&:before {
		@include triangle(up, 10px, $grey);
		position: absolute;
			z-index: 100;
		top: -10px;
		left: calc(4% - 2px);

		@include breakpoint($screen-sm) {
			left: calc(6.5% - 2px);
		}
	}

	&:after {
		@include triangle(up, 8px, $black);
		position: absolute;
		z-index: 101;
		top: -8px;
		left: 4%;

		@include breakpoint($screen-sm) {
			left: 6.5%;
		}
	}

	ul {
		@extend %list-unstyled;
		width: 94%;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint($screen-sm) {
			width: 100%;
		}
	}

	li {
		border-bottom: 1px dotted $grey-darker;
		text-transform: uppercase;
		font-family: $heading-font-family;
		font-weight: $bold;
		font-size: $font-size-lg;
		line-height: $line-height-xxs;
		margin-bottom: 0;

		&:last-child {
			border-bottom: 0;
		}
	}

	a {
		color: darken($grey-light, 20%);
		display: block;
		padding-top: $spacing-sm;
		padding-bottom: $spacing-sm;
		padding-left: $spacing-xs;
		padding-right: $spacing-xs;

		&:hover {
			color: $blue;
			background-color: darken($grey-darker, 7%);
		}
	}

	.nav--lg a {
		font-size: $font-size-lg;
		color: $white;

		&:hover {
			color: $blue;
			background-color: darken($grey-darker, 7%);
		}
	}
}
