// =============================================
// Toolbar
// =============================================

.toolbar {
    padding: ($spacing-xs * 2) 0;
    background-color: $white;
    margin-bottom: $spacing-xs * 2;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .sortby {
        display: none;
    }
}

@include breakpoint($screen-sm) {
    .toolbar .sortby {
        display: block;

        select {
            width: 8em;
        }
    }
}

@include breakpoint($screen-md) {
    .toolbar {
        padding-left: $spacing;
        padding-right: $spacing;

        .sortby select {
            width: 10em;
        }
    }
}
