/**
 * Button
 */

$buttons: (
    base: (
        default: (
            background          : color(neutral, darkest),
            border-color        : color(neutral, darkest),
            color               : color(neutral, white)
        ),
        hover: (
            background          : color(neutral, dark),
            border-color        : color(neutral, dark),
            color               : color(neutral, white)
        )
    ),
    primary: (
        default: (
            background          : color(primary, pink),
            border-color        : color(primary, pink),
            color               : color(neutral, white)
        ),
        hover: (
            background          : darken(color(primary, pink), 20%),
            border-color        : darken(color(primary, pink), 20%),
            color               : color(neutral, white)
        )
    )
);


/**
 * Container
 */

$containers: (
    sm                  : 52em,
    md                  : 62em,
    lg                  : 82em,
    xl                  : 110em
);


/**
 * Grid Gutter
 */

$gutters: (
    base                : 1em,
    sm                  : 0.5em,
    lg                  : 2%
);


/**
 * Section
 */

$sections: (
    xs: (
        min            : 1.3em,
        max            : 1.5em
    ),
    sm: (
        min            : 2em,
        max            : 4em
    ),
    base: (
        min            : 3em,
        max            : 6em
    ),
    lg: (
        min            : 4em,
        max            : 8em
    )
);


/**
 * Separator
 */

$separators: (
    base: (
        color                   : color(neutral, lighter),
        style                   : solid,
        width                   : 1px
    )
);


/**
 * Visibility
 */

$visibility: (
    block,
    inline,
    inline-block
);
