// =============================================
// Colours
// =============================================

$grey-darker            : #222;
$grey-dark              : #444;
$grey                   : #484852;
$grey-light             : #ddd;
$grey-lighter           : #e4e4e4;

$white                  : #fff;
$black                  : #000;

$blue                   : #28288f;


// =============================================
// Fonts
// =============================================

$font-family            : Merriweather, Georgia, Times, "Times New Roman", serif;

$font-size              : 100%;
$font-size-xxs          : 0.5em;
$font-size-xs           : 0.75em;
$font-size-sm           : 0.9em;
$font-size-lg           : 1.2em;
$font-size-xl           : 1.6em;

$bold                   : 600;

$line-height            : 1.6;
$line-height-xs         : 1.2;
$line-height-sm         : 1.4;


// =============================================
// Headings
// =============================================

$heading-font-family    : montserrat, helvetica, arial, sans-serif;

$font-size-h1           : 4em;
$font-size-h2           : $font-size-h1 * 0.7;
$font-size-h3           : $font-size-h1 * 0.4;
$font-size-h4           : $font-size-h1 * 0.35;
$font-size-h5           : $font-size-h1 * 0.3;
$font-size-h6           : $font-size-h1 * 0.25;


// =============================================
// Spacing
// =============================================

$spacing                : 1rem;
$spacing-xs             : 0.4rem;
$spacing-sm             : 0.7rem;
$spacing-lg             : 1.3rem;
$spacing-xl             : 2rem;


// =============================================
// Z indexing
// =============================================

$z-0                    : 0;
$z-1                    : 1;
$z-2                    : 10;
$z-3                    : 20;
$z-4                    : 30;
$z-5                    : 40;
$z-6                    : 50;
$z-7                    : 60;
$z-8                    : 70;
$z-9                    : 80;
$z-10                   : 90;


// =============================================
// Breakpoints
// =============================================

$screen-xs              : 30em;
$screen-sm              : 35em;
$screen-md              : 52em;
$screen-lg              : 62em;
$screen-xl              : 82em;

$container	     		: 90em;
$container-sm	     	: 52em;
$container-lg	     	: 110em;

$screen-xs-max          : $screen-sm - 0.01em;
$screen-sm-max          : $screen-md - 0.01em;
$screen-md-max          : $screen-lg - 0.01em;
$screen-lg-max          : $screen-xl - 0.01em;


// =============================================
// Misc
// =============================================

$border-radius          : 0.3rem;
$gutter                 : 3%;
