// =============================================
// Colours
// =============================================

$colors: (
    grey: (
        base            : #666,
        darker          : #222,
        dark            : #444,
        light           : #999,
        lighter         : #e4e4e4
    ),

    black: (
        base            : #000
    ),

    white: (
        base            : #fff
    ),

    social: (
        twitter         : #55acee,
        facebook        : #32639f,
        google          : #d34836,
        pinterest       : #cb2028,
        instagram       : #517fa4,
        vimeo           : #1ab7ea,
        linkedin        : #4875b4,
        youtube         : #bb0000,
        tumblr          : #36465D
    ),

    brand: (
        pink            : hotpink
    ),
    
    success: (
        base            : green,
        light           : #e6ffe6
    ),
    
    error: (
        base            : red,
        light           : #fcc
    )
);


// =============================================
// Fonts
// =============================================

$font-family            : -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

$font-size              : 100%;
$font-size-xs           : 0.56em;
$font-size-sm           : 0.75em;
$font-size-lg           : 1.33em;
$font-size-xl           : 1.77em;

$bold                   : 600;

$line-height            : 1.6;
$line-height-xs         : 1.2;
$line-height-sm         : 1.4;


// =============================================
// Headings - Perfect Fourth (1.333) http://type-scale.com/
// =============================================

$heading-font-family    : $font-family;

$heading-scales: (
    base: (
        start           : 0.8em,
        scale           : 1.25
    ),
    sm: (
        start           : 0.75em,
        scale           : 1.334
    ),
    lg: (
        start           : 0.7em,
        scale           : 1.414
    )
);


// =============================================
// Spacing
// =============================================

$spacing                : 1em;
$spacing-xs             : 0.56em;
$spacing-sm             : 0.75em;
$spacing-lg             : 1.3em;
$spacing-xl             : 1.8em;

$gutter                 : 3%;


// =============================================
// Z indexing
// =============================================

$z-0                    : 0;
$z-1                    : 1;
$z-2                    : 10;
$z-3                    : 20;
$z-4                    : 30;
$z-5                    : 40;
$z-6                    : 50;
$z-7                    : 60;
$z-8                    : 70;
$z-9                    : 80;
$z-10                   : 90;


// =============================================
// Screens
// =============================================

$screens: (
    xs: (
        base            : 28em,
        max             : 35em - 0.01em
    ),
    sm: (
        base            : 35em,
        max             : 48em - 0.01em
    ),
    md: (
        base            : 48em,
        max             : 62em - 0.01em
    ),
    lg: (
        base            : 62em,
        max             : 82em - 0.01em
    ),
    xl: (
        base            : 82em
    )
);


// =============================================
// Containers
// =============================================

$container-sm           : 52em;
$container-md           : 62em;
$container-lg           : 82em;
$container-xl           : 110em;


// =============================================
// Border Radius
// =============================================

$border-radius          : 0.3rem;


// =============================================
// Visibility for visible classes
// =============================================

$visibility: (
    block,
    inline,
    inline-block
);
