// =============================================
// Colours
// =============================================

$blue                   : #08eeff;
$green                  : #84ee74;
$yellow                 : #fceb01;

$grey-darker            : #222;
$grey-dark              : #444;
$grey                   : #666;
$grey-light             : #ddd;
$grey-lighter           : #e4e4e4;

$faint					: #f6f6f6;
$white                  : #fff;
$black                  : #000;


// =============================================
// Fonts
// =============================================

$font-family            : 'Open Sans', helvetica, arial, sans-serif;
$font-size              : 83%; // 14px
$line-height            : 1.6;

$font-size-xs           : 0.75em;
$font-size-sm           : 0.9em;
$font-size-lg           : 1.2em;
$font-size-xl           : 1.4em;
$font-size-xl           : 1.6em;

$bold       : 600;

$line-height-xxs        : 1;
$line-height-xs         : 1.2;
$line-height-sm         : 1.4;


// =============================================
// Headings
// =============================================

$heading-font-family    : 'Roboto Condensed', helvetica, arial, sans-serif;

$font-size-h1           : 3em;
$font-size-h2           : $font-size-h1 * 0.7;
$font-size-h3           : $font-size-h1 * 0.57;
$font-size-h4           : $font-size-h1 * 0.48;
$font-size-h5           : $font-size-h1 * 0.4;
$font-size-h6           : $font-size-h1 * 0.35;


// =============================================
// Margins
// =============================================

$spacing                : 1rem;
$spacing-xxs			: 0.2rem;
$spacing-xs             : 0.4rem;
$spacing-sm             : 0.6rem;
$spacing-lg             : 1.4rem;
$spacing-xl             : 1.6rem;
$spacing-xxl            : 2.5rem;
$spacing-xxxl           : 3.5rem;


// =============================================
// Breakpoints
// =============================================

$screen-sm              : 35em;
$screen-md              : 52em;
$screen-lg              : 62em;
$screen-xl              : 75em;

$container-max			: 90em;


// =============================================
// Player Height
// =============================================

$player-sm				: 2.5rem;