// =============================================
// Vars
// =============================================

@import "vars";


// =============================================
// Helpers
// =============================================

@import "mixins/arrow";
@import "mixins/ellipsis";
@import "mixins/breakpoint";
@import "mixins/grid";
@import "mixins/lists";


// =============================================
// Utilities
// =============================================

@import "utilities/images";
@import "utilities/clearfix";
@import "utilities/align";
@import "utilities/visible";
@import "utilities/toggle";
@import "utilities/layout";
@import "utilities/grid";
@import "utilities/box-sizing";
@import "utilities/z-index";
@import "utilities/lists";



// =============================================
// Containers
// =============================================

.container {
    margin-left: 0;
    margin-right: 0;
}
.container-xs-max {
    max-width: $screen-xs;
}


// =============================================
// Colours -- Branding
// =============================================

body {
    color: #404040;
}
//h1 {
//    color: #404040;
//}
//h2 {
//    color: #545d65;
//}


// =============================================
// Font Sizes
// =============================================
//h1 {
//    font-size: 2.111em;
//}
//h2 {
//    font-size: 1.444em;
//}


// =============================================
// Wells
// =============================================

.well {
    padding: 3rem 2rem;
    border-bottom: 1px solid #e4e4e4;

    pre {
        margin-bottom: $spacing;
    }

    pre code {
        background-color: #ececf3;
        padding: 1rem;
    }

    @include breakpoint($screen-sm) {
        width: 88%;
        margin-left: auto;
        margin-right: auto;
            padding: 3rem 0;
    }
}


// =============================================
// Masthead
// =============================================

.site-masthead {
    padding: 1.5rem 3rem 2.5em;
    background-color: #2D2D7B;
    color: #fff;
    position: relative;
    *,
    *:hover {
        color: white;
    }
    h1 {
        margin-top: $spacing-xl * 1.4;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    .pagination {
        display: none;
        position: absolute;
        top: 1em;
        right: 1em;
    }
}

// =============================================
// Breadcrumbs
// =============================================

.breadcrumbs :hover {
    text-decoration: underline;
}


// =============================================
// Layout
// =============================================

@include breakpoint($screen-md) {
    .site-wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .site-header {
        position: fixed;
        top: 0;
        width: 15rem;
        text-align: left;
        z-index: 8000;
    }
    .site-navigation {
        position: fixed;
        top: 13.05rem;
        bottom: 0;
        width: 15rem;
        overflow: hidden;
        overflow-y: auto;
    }
    .site-main {
        flex: 1 1 auto;
        margin-left: 15rem;
        min-height: calc(100vh - 5.375rem);
    }
}




// =============================================
// Header
// =============================================

.site-header {
    img {
        @extend %img-responsive;
    }
    .logo {
        background-color: #040429;
        height: 13.05rem;
        position: relative;
        display: block;

        .logo__art {
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
        }

        &:hover .logo__art {
            transform: translate(-50%, -50%) rotate(100deg);
        }
    }


}

// =============================================
// Navigation
// =============================================

.site-navigation {
    background-color: #040429;
    //font-size: 0.778em;
    font-weight: 600;

    a {
        text-transform: capitalize;
        color: #fff;
            border-bottom: 0;
        &:hover {
            color: #e529c4;
                background-color: transparent;
            transition: .1s ease-in;
        }
    }
    .active > a {
        color: #e529c4;
            background-color: transparent;

    }



    &__toggle {
        display: block;
        padding: 0.5rem;
        text-align: center;
        background-color: #E9FFD6;
        @include breakpoint(max-width $screen-sm-max) {
            position: absolute;
            top: 25px;
            right: 20px;
        }
        @include breakpoint($screen-md) {
            display: none;
        }
    }
    &__content {
        //display: none;
        &.active {
            display: block !important;
        }
        @include breakpoint($screen-md) {
            display: flex !important;
            flex-direction: column;
            height: 100%;
            padding-top: 2em;

            .nav--stack:nth-last-child(2) {
                flex-grow: 2;
            }
        }
    }

    .nav--stack ul ul {
        margin-bottom: 2em;
    }




    // =============================================
    // Collapsing menu
    // =============================================

    .child {
        display: none;
        font-size: $font-size-sm;
        &.show {
            display: block;
        }
        a {
            padding-left: 3rem;
            color: darken(#ececf3, 8%);
            padding-top: $spacing-xs;
            padding-bottom: $spacing-xs;
        }
    }
    .parent > a .icon-minus {
        display: none;
    }
    .active > a {
        .icon-plus {
            display: none;
        }
        .icon-minus {
            display: inline-block;
        }
    }


}



// =============================================
// Credits
// =============================================


.nav-credits {
    padding-top: 3rem;
}
.nav-credits ul {
    padding-bottom: $spacing;
    a {
        padding-top: $spacing-xs;
        padding-bottom: $spacing-xs;
    }
}
.nav-credits small {
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    padding-bottom: 2rem;
    opacity :0.5;
    font-size: $font-size-xs;

    a {
        display: inline;
        padding: 0;
    }
}


// =============================================
// Extra info
// =============================================

.extra-info {
    background-color: #ececf3;
    padding: 3rem 2rem;
}
