@import "var";
@import "helper/variable-function";
@import "setting";
@import "helper/setting-function";
@import "helper/flex";
@import "helper/breakpoint";
@import "helper/shape";
@import "helper/ellipsis";


/**
 * Modes added to <body> tag
 * library or preview
 */

.cc-mode-library {
    padding-top: 4em;
}


/**
 * Header
 */

.cc-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    padding: spacing(sm) 0;
    @include flex;
    @include align-items(center);
    background-color: color(neutral,darkest);
    color: #fff;

    a {
        @include flex;
        @include align-items(center);
        color: color(neutral, white);
        fill: color(neutral, white);
        text-decoration: none;
        > * {
            margin-right: 0.2em;
        }
        .icon-cross {
            display: none;
        }

        &.is-active {
            .icon-menu {
                display: none;
            }
            .icon-cross {
                display: block;
            }
        }
    }
}


/**
 * Developer Bar
 */

.cc-devbar,
.cc-devbar__bp {
    background-color: #8e7cc3;
    color: color(neutral, white);

    @include breakpoint(screen(sm) screen(sm, max)) {
        background-color: #6fa8dc;
    }
    @include breakpoint(screen(md) screen(md, max)) {
        background-color: #6aa84f;
    }
    @include breakpoint(screen(lg) screen(lg, max)) {
        background-color: #ffd966;
        color: color(neutral, darkest);
    }
    @include breakpoint(screen(xl)) {
        background-color: #e06666;
        color: color(neutral, white);
    }
}

.cc-devbar {
    position: fixed;
    width: 100%;
    height: 5px;
    bottom: 0;
    right: 0;
    font-size: 12px;

    &__bp {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 4px 8px;
        &:after {
            content: "xs max: #{screen(xs, max)}";

            @include breakpoint(screen(xs)) {
                content: "xs: #{screen(sm)}";
            }
            @include breakpoint(screen(sm)) {
                content: "sm: #{screen(sm)}";
            }
            @include breakpoint(screen(md)) {
                content: "md: #{screen(md)}";
            }
            @include breakpoint(screen(lg)) {
                content: "lg: #{screen(lg)}";
            }
            @include breakpoint(screen(xl)) {
                content: "xl: #{screen(xl)}";
            }
        }
    }
}


/**
 * Man Menu
 */

.cc-nav {
    position: fixed;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -100%;
    z-index: 998;
    background-color: color(neutral,darkest);
    padding: 60px 10px;
    padding-bottom: 46px;
    color: color(neutral, lighter);

    &.is-active {
        left: 0;
    }

    ol {
        margin: 5px 0 25px 10px;
        padding: 0;
        font-weight: bold;
        font-size: 16px;
        list-style: none;
        counter-reset: section;

        li::before {
            counter-increment: section;
            content: counters(section,".") ". ";
            font-size: $font-size-sm;
            color: color(neutral, dark);
        }

        ol {
            margin-left: 0;
            margin-top: 7px;
            font-weight: normal;
            font-size: 14px;
        }
    }

    a {
        color: color(neutral, lighter);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


/**
 * Page Wrapper
 */

.cc-section {
    border: 5px solid color(neutral, lighter);
    border-top: 0;
    background-color: color(neutral, white);
}


/**
 * Title Container
 */

.cc-title-container {
}


/**
 * Title
 */

.cc-title {
    background-color: color(neutral, lighter);
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    padding: 10px 5px;

    * {
        margin: 0;
        padding: 0;
        font-size: 14px;
        display: inline-block;
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
    }

    h2 {
        font-size: 16px;
    }

    code {
        font-size: 12px;
        font-weight: normal;
    }
}


/**
 * Description
 */

.cc-title-desc {
    padding: 20px 20px 0;
    border-left: 5px solid color(neutral, lighter);
    border-right: 5px solid color(neutral, lighter);
    border-top: 0;

    > *:last-child {
        margin-bottom: 0;
        border-bottom: 2px solid color(neutral, lighter);
        padding-bottom: 20px;
    }
}


/**
 * Move content across when nav active
 */

.has-cc-nav-active .cc-main-content {
    margin-left: 200px;
    overflow: hidden;
}


/**
 * Shape demos
 */

.cc-shape-circle {
    @include circle;
}

.cc-shape-square {
    @include square;
}

.cc-shape-triangle {
    @include triangle;
}

.cc-shape-chevron {
    @include chevron;
}

.cc-shape-minus {
    @include minus;
}

.cc-shape-plus {
    @include plus;
}

.cc-shape-cross {
    @include cross;
}

.cc-shape-tick {
    @include tick;
}

.cc-shape-hamburger {
    @include hamburger;
}

.cc-shape-ring {
    @include ring;
}


/**
 * Ellipsis
 */

.cc-ellipsis {
    @include ellipsis;
    display: block;
}


/**
 * Overlay Override
 */

//.cc-overlay .overlay {
//    height: 50vh;
//    display: block;
//    position: static;
//}


/**
 * Code
 */

.cc-code {
    margin: 0 !important;
    display: block;
    max-height: 20em;
    overflow: scroll;
    background-color: color(neutral, lighter) !important;
}


/**
 * Pattern
 */

.cc-pattern {
    width: 96%;
    margin: 4em auto;
    position: relative;

    &__anchor {
        position: absolute;
        top: -5em;
    }

    &__header {
        background-color: color(neutral, lightest);
        border: 1px solid color(neutral, lighter);
        border-radius: $border-radius $border-radius 0 0;
        padding: spacing() spacing(xl);

        * {
            margin: 0;
        }
    }

    &__body {
        border: 1px solid color(neutral, lighter);
        border-radius: 0 0 $border-radius $border-radius;
        background-color: color(neutral, white);
        border-top: 0;
    }

    &__doc {
        max-width: container(sm);
        padding: spacing(xl);
    }
}


.cc-demo {
    &:not(:first-child) {
        border-top: 1px solid color(neutral, lighter);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding: 3px;
            font-size: 13px;
            font-weight: bold;
            background-color: color(neutral, lightest);
            border-bottom: 1px solid color(neutral, lighter);
            border-right: 1px solid color(neutral, lighter);
            border-bottom-right-radius: $border-radius;
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul {
            margin-right: spacing(sm);
        }

        li {
            display: inline-block;
            padding-left: spacing(xs);
        }

        a {
            display: inline-block;
            padding: 3px;
            font-size: 13px;
        }
    }

    &__demo {
        padding: spacing(xl);
        padding-top: spacing(lg);
    }

    &__code {
        background-color: color(neutral, lightest);
        padding: spacing(xl);
        box-shadow:inset 0 3px 3px 0 rgba(0,0,0,.1);

        pre,
        code {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}
