@import "var";
@import "helper/variable-function";
@import "setting";
@import "helper/setting-function";
@import "helper/flex";
@import "helper/breakpoint";
@import "helper/shape";
@import "helper/ellipsis";


/**
 * Modes added to <body> tag
 * library or preview
 */

.cc-mode-library {
    padding-top: 3em;
}


/**
 * Header
 */

.cc-header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    font-size: 16px;
    padding: spacing(sm) 0;
    @include flex;
    @include align-items(center);
    background-color: color(neutral,darkest);
    color: #fff;
    border-bottom: 1px solid color(neutral, darker);

    a {
        @include flex;
        @include align-items(center);
        color: color(neutral, white);
        fill: color(neutral, white);
        text-decoration: none;
        > * {
            margin-right: 0.2em;
        }
        .icon-cross {
            display: none;
        }

        &.is-active {
            .icon-menu {
                display: none;
            }
            .icon-cross {
                display: block;
            }
        }
    }
}


/**
 * Developer Bar
 */

.cc-devbar,
.cc-devbar__bp {
    background-color: #8e7cc3;
    color: color(neutral, white);

    @include breakpoint(screen(sm) screen(sm, max)) {
        background-color: #6fa8dc;
    }
    @include breakpoint(screen(md) screen(md, max)) {
        background-color: #6aa84f;
    }
    @include breakpoint(screen(lg) screen(lg, max)) {
        background-color: #ffd966;
        color: color(neutral, darkest);
    }
    @include breakpoint(screen(xl)) {
        background-color: #e06666;
        color: color(neutral, white);
    }
}

.cc-devbar {
    position: fixed;
    width: 100%;
    height: 6px;
    bottom: 0;
    right: 0;
    font-size: 12px;
    z-index: 9999;

    &__bp {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 10px;
        &:after {
            content: "xs max: #{screen(xs, max)}";

            @include breakpoint(screen(xs)) {
                content: "xs: #{screen(sm)}";
            }
            @include breakpoint(screen(sm)) {
                content: "sm: #{screen(sm)}";
            }
            @include breakpoint(screen(md)) {
                content: "md: #{screen(md)}";
            }
            @include breakpoint(screen(lg)) {
                content: "lg: #{screen(lg)}";
            }
            @include breakpoint(screen(xl)) {
                content: "xl: #{screen(xl)}";
            }
        }
    }
}


/**
 * Man Menu
 */

.cc-nav {
    position: fixed;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    width: 200px;
    left: 0;
    transform: translateX(-100%);
    z-index: 998;
    background-color: color(neutral,darkest);
    padding: 60px 0;
    color: color(neutral, lighter);

    &.is-active {
        transform: translateX(0);
    }

    a {
        text-decoration: none;
        color: color(neutral, lightest);
    }
}

.cc-accordion__header {
    padding: spacing(sm) spacing(lg);
    font-size: 16px;
    border: 0 !important;

    &:before {
        right: spacing() !important;
    }
    &:after {
        right: calc(#{spacing()} + 5px) !important;
    }

    &:hover {
        background-color: color(neutral, darker);
    }
}

.cc-accordion__body {
    padding-bottom: spacing(xl);
    display: none;

    &.is-active {
        display: block;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        counter-reset: section;
    }

    li {
        font-size: 13px;
    }

    a {
        color: color(neutral, lighter);
        display: block;
        padding: 5px spacing(lg);

        &:hover {
            background-color: color(neutral, darker);
        }

        &::before {
            counter-increment: section;
            content: counters(section,".") ". ";
            font-size: $font-size-sm;
            color: color(neutral, dark);
            display: inline-block;
            width: 15px;
        }
    }
}

.cc-accordion__header.is-active,
.cc-accordion__body.is-active {
    background-color: color(neutral, black);
}


/**
 * Move content across when nav active
 */

.has-cc-nav-active .cc-main-content {
    margin-left: 200px;
    overflow: hidden;
}


/**
 * Shape demos
 */

.cc-shape-circle {
    @include circle;
}

.cc-shape-square {
    @include square;
}

.cc-shape-triangle {
    @include triangle;
}

.cc-shape-chevron {
    @include chevron;
}

.cc-shape-minus {
    @include minus;
}

.cc-shape-plus {
    @include plus;
}

.cc-shape-cross {
    @include cross;
}

.cc-shape-tick {
    @include tick;
}

.cc-shape-hamburger {
    @include hamburger;
}

.cc-shape-ring {
    @include ring;
}


/**
 * Ellipsis
 */

.cc-ellipsis {
    @include ellipsis;
    display: block;
}


/**
 * Pattern
 */

.cc-pattern {
    width: 96%;
    max-width: container(xl);
    margin: 3em auto;
    position: relative;

    &__anchor {
        position: absolute;
        top: -5em;
    }

    &__header {
        background-color: color(neutral, lightest);
        border: 1px solid color(neutral, lighter);
        border-radius: $border-radius $border-radius 0 0;
        padding: spacing() spacing(lg);

        h3 {
            padding-right: spacing();
        }

        a {
            text-decoration: none;
        }

        svg {
            fill: color(neutral, light);
            height: 18px;
            width: 18px;
            margin-right: 5px;
        }

        * {
            margin: 0;
        }
    }

    &__body {
        border: 1px solid color(neutral, lighter);
        border-radius: 0 0 $border-radius $border-radius;
        background-color: color(neutral, white);
        border-top: 0;
    }

    &__doc {
        max-width: container(sm);
        padding: spacing(xl);
    }

    code {
        background-color: color(neutral, lightest);
        font-size: 13px;
    }
}

/**
 * Demo
 */

.cc-demo {
    &:not(:first-child) {
        border-top: 1px solid color(neutral, lighter);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            padding: 3px 6px;
            font-size: 13px;
            font-weight: bold;
            background-color: color(neutral, lightest);
            border-bottom: 1px solid color(neutral, lighter);
            border-right: 1px solid color(neutral, lighter);
            border-bottom-right-radius: $border-radius;
        }

        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul {
            margin-right: spacing(sm);
        }

        li {
            display: inline-block;
            padding-left: spacing(xs);
        }

        a {
            display: inline-block;
            padding: 3px;
            font-size: 13px;
        }

        code {
            font-size: 11px;
        }
    }

    &__demo {
        padding: spacing(xl);
        padding-top: spacing(lg);
    }

    &__code {
        background-color: color(neutral, lightest);
        padding: spacing(xl);
        box-shadow:inset 0 3px 3px 0 rgba(0,0,0,.1);
        max-height: 20em;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        pre,
        code {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
}


/**
 * Color
 */

.cc-color__swatch {
    height: 4em;
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    font-size: 18px;
    border-radius: $border-radius $border-radius 0 0;
    border: 1px solid rgba(0,0,0,.1);
}
.cc-color__body {
    padding: spacing(sm);
    border-radius: 0 0 $border-radius $border-radius;
    background-color: color(neutral, lightest);
    border: 1px solid rgba(0,0,0,.1);

    > * {
        margin: 0;
    }

    p {
        font-size: 11px;
        color: color(neutral, dark);
    }

    code {
        padding-left: 0;
        font-size: 11px;
    }
}


/**
 * Visible in chopchop
 */

body:not(.cc-mode-library) .u-visible-cc {
    display: none !important;
}
body.cc-mode-library .u-visible-cc {
    display: block !important;
}


/**
 * Special widths for chopchop
 */

.cc-mode-library {
    .cc-pattern-width-sm {
        max-width: container(sm)/2;
    }
    .cc-pattern-width-md {
        max-width: container(md)/2;
    }
    .cc-pattern-width-lg {
        max-width: container(lg)/2;
    }
}


/**
 * Classes
 */

.cc-classes {
    > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    li {
        display: block;
        float: left;
        padding: 0 spacing(xs) spacing(xs) 0;
    }
}

