// =============================================
// Vars
// =============================================

@import "vars";


// =============================================
// Helpers
// =============================================

@import "helpers/clearfix";
@import "helpers/arrow";
@import "helpers/ellipsis";
@import "helpers/toggle";
@import "helpers/breakpoint";
@import "helpers/visible";




// =============================================
// Primer -- Branding
// =============================================

.well {
    padding: 20px 40px 40px 40px;

    pre code {
        background-color: #f4f4f4;
        padding: 20px;
        border: 1px solid #ccc;
    }

    &:nth-child(even) {
        background-color: #f4f4f4;

        pre code {
            background-color: #fff;
        }
    }
}

.footer {
    background-color: #f4f4f4;
    padding: 2rem 0;
}
